<div class="text-center"> 
            <a href="https://arabic.omaralzabir.com/" target="_blank">
                <img src="/images/Keyboard Layout 1.png" alt="" /> 
               </a>     
        
    
    <textarea class="arabic large" style="width: 99%; height:90%; min-height: 300px; padding: 10px;" dir="rtl"></textarea>
    <button class="btn btn-secondary" onclick="SwitchArabicKeyboard()"> স্থায়ী ভাবে নিচে টাইপ উইন্ডো  (SHOW/HIDE)</button>
</div>
<script>

    function SwitchArabicKeyboard(){
       $('.developer_panel').toggle(); 
    }
</script>