<h2 class="hideinmodal"> এই ওয়েবসাইট এ কি কি আছে এবং সেগুলো কিভাবে ব্যবহার করবেন  </h2>

 
<div class="gap hideinmodal"></div>
<div class="card card-default howtouse_wrap">
    <div class="card-header">
      <h2 class="card-title">
        <i class="fas fa-bullhorn fa-2x"></i>&nbsp;&nbsp;
        <h1 class="h1m"> <span class="arabic">السلام عليكم ورحمة الله وبركاته</span> <br /> আসসালামু আলাইকুম ওয়া রাহমাতুল্লাহি ওয়াবারকাতুহু (  প্রিয় ভাই / বোন  ) </h1>
      </h2>
    </div>
    <!-- /.card-header -->
    <div class="card-body"> 

    <div class="callout callout-danger"> 
        <h3>তাড়াহুড়া না করে একবার পড়ে/ চোখ  বুলিয়ে নিন</h3> 
        <p>আমরা অনেক ওয়েবসাইট ভিজিট করি, কিন্তু সব কিছু সবসময়  ঠিকভাবে নজর দেই না, ফলে আমাদের জন্য গুরুত্বপুর্ন  অনেক কিছু হয়তো ওয়েবসাইট এ থাকার পর ও আমরা তা থেকে উপকৃত হইতে পারি না.  </p>
        <p> আলহামদুলিল্লাহ! যেহেতু আপনি এখনো পড়ছেন, আশাকরি পুরো বিষয় গুলো একবার  দেখে নিবেন (পিসি বা ল্যাপটপ এ দেখার অনুরোধ রইল, তাহলে ভালভাবে দেখা যাবে, এটা মূলত ডেক্সটপ ইউজার দের টার্গেট করে বানানো )</p>

    </div> 

    <div class="callout callout-danger"> 
        <h4>লক্ষ্য ও  উদ্দেশ্য </h4> 
        <p>বাংলা ভাষায় ইসলামী জ্ঞানের বিভিন্ন উপকরণে সাজানো একটি ওয়েবসাইট তৈরী করা, গুরুত্বপূর্ণ   কুরআনের আয়াত, ভিডিও, বই, পি ডি এফ, মোবাইল এপ্লিকেশন  ইত্যাদি সংকলন করে বিষয়ভিত্তিকভাবে ওয়েবসাইটে প্রকাশ করা , সম্পূর্ণ ফ্রি এবং কোনও বিজ্ঞাপন নেই! আমরা একমাত্র আল্লাহ সুবহান’আ তাওয়ালার কাছ থেকে পুরষ্কারের আশা করি।  আলহামদুলিল্লাহ! </p>
        <p>ওয়েবসাইট এ কি কি আছে এবং কিভাবে সেগুলো ব্যবহার করতে হয় তা নিচে বিস্তারিত দেয়া আছে, একবার দেখে নিন আশাকরা যায় তাহলে পুরো ওয়েবসাইট ব্যবহার এ আপনি পূর্ণ উপকৃত হতে পারবেন </p>
    </div>


    <div class="callout callout-info"> 
        <h4>https://learn-quran-bd.web.app   কিভাবে  ব্যবহার করবো</h4> 
        <div class="text-center">
            <iframe width="99%" height="450" style="max-width: 600px;" data-src="https://www.youtube.com/embed/o3z9W-hjUzI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p></p>
        </div>
    </div> 

    <div class="callout callout-info"> 
        <h4>বিষয় ভিত্তিক কুরআনের আয়াত, বই, ভিডিও</h4> 
        <div class="text-center">
            <iframe width="99%" height="450" style="max-width: 600px;" data-src="https://www.youtube.com/embed/Z2ZprHqMGtM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div> 

    
    <div class="callout callout-info"> 
        <h4>কুরআনের সূরার আয়াত এর আরবি ব্যকরন</h4> 
        <div class="text-center">
            <iframe width="99%" height="450" style="max-width: 600px;" data-src="https://www.youtube.com/embed/dBB-WjhFE50" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div> 

    
    <div class="callout callout-info"> 
        <h4>কুরআনের আয়াত ভিত্তিক তাজবীদ নিয়ম প্রাকটিস</h4> 
        <div class="text-center">
            <iframe width="99%" height="450" style="max-width: 600px;" data-src="https://www.youtube.com/embed/ygcg6lVwZSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div> 


    <div class="callout callout-info"> 
        <h4>কুরআনের মুখস্ত সূরার শব্দ সমূহ বা সূরার আয়াত ক্রম - স্মৃতি পরীক্ষা </h4> 
        <div class="text-center">
            <iframe width="99%" height="450" style="max-width: 600px;" data-src="https://www.youtube.com/embed/j9VzHh_8GMw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
    </div> 



    <div class="callout callout-info"> 
        <h4>কুরআনের  সূরার শব্দ সমূহ পুনরাবৃত্তি + ক্রম , কোন শব্দ কোন আয়াত বা কোন সূরায় শব্দ কতবার আসছে এ বিষয় সম্পর্কে </h4> 
        <div class="text-center">
            <iframe width="99%" height="450" style="max-width: 600px;" data-src="https://www.youtube.com/embed/oiZihZopQJc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div> 



    <div class="callout callout-info"> 
        <h4>কুরআনের আয়াতের তারকিব</h4> 
        <div class="text-center">
            <iframe width="99%" height="450" style="max-width: 600px;" data-src="https://www.youtube.com/embed/TI4NGWy5q04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div> 



     <div class="terms_section"></div>

      


    </div>
    <!-- /.card-body -->
  </div>


  <script>
    $(document).ready(function () {
          $('#dynamic_content .dynamic_content_block').html('');
          $('#dynamic_heading').slideUp();
          $('.howtouse_wrap iframe').each(function(){           
                $(this).attr('src',  $(this).data('src')); 
          }); 
    });
  </script>