কোরআনের সুরা বা আয়াত বা পেজ মুখস্ত যাচাই এর জন্য, আপনার স্মৃতি থেকে পড়ে রেকর্ড করে, পুনরায় প্লে করে নিজে নিজেই যাচাই করুন <br ><hr /> 


প্রথমে <a href="https://addpipe.com/simple-recorderjs-demo/" style="color: blue; font-weight: bold;" target="_blank"> এই লিংকে ক্লিক </a>  করে ওয়েব পেজ ওপেন করুন, নতুন উইন্ডোতে ~ এর পর রেকর্ড করে অডিও শুনুন + এখানে যাচাই করুন (কুরআন এর সূরা / আয়াত / পেইজ ওপেন করে ) 

<hr />


অথবা  <a href="https://play.google.com/store/apps/details?id=smartdatasoft.quranmemorizationtest&hl=bn&gl=US" style="color: blue; font-weight: bold;" target="_blank"> এই লিংকে ক্লিক </a>  করে মোবাইল এপ্লিকেশন ডাউনলোড করে, মুখস্ত স্মৃতি যাচাই করতে পারেন   