 
<div class="gap"></div>
<div class="card card-default">
    <div class="card-header hideinmodal">
      <h2 class="card-title">
        <i class="fas fa-bullhorn fa-2x"></i>
        আসসালামু আলাইকুম ওয়া রাহমাতুল্লাহি ওয়াবারকাতুহু (  প্রিয় ভাই / বোন  ) 
      </h2>
    </div>
    <!-- /.card-header -->
    <div class="card-body">


      <div class="small-box bg-danger hideinmodal">
        <div class="inner">
          <h3>এই ওয়েবসাইটটি নির্মাণাধীন</h3>

          <p>যে কোন সমস্যায় আমাদের জানালে আমরা দ্রুত ঠিক করার চেষ্টা করবো, ইনশাআল্লাহ </p>
        </div>
        <div class="icon">
          <ion-icon name="bug-outline"></ion-icon>
        </div>
        <a href="mailto:shahinbdboy@gmail.com" class="small-box-footer"> আমাদের কাছে লিখুন  <i class="fas fa-arrow-circle-right"></i></a>
      </div>



      <div class="callout callout-danger hideinmodal"> 
        <h3>লক্ষ্য ও  উদ্দেশ্য </h3>

        <p>বাংলা ভাষায় ইসলামী জ্ঞানের বিভিন্ন উপকরণে সাজানো একটি ওয়েবসাইট তৈরী করা, গুরুত্বপূর্ণ   কুরআনের আয়াত, ভিডিও, বই, পি ডি এফ, মোবাইল এপ্লিকেশন  ইত্যাদি সংকলন করে বিষয়ভিত্তিকভাবে ওয়েবসাইটে প্রকাশ করা , সম্পূর্ণ ফ্রি এবং কোনও বিজ্ঞাপন নেই! আমরা একমাত্র আল্লাহ সুবহান’আ তাওয়ালার কাছ থেকে পুরষ্কারের আশা করি।  আলহামদুলিল্লাহ! </p>

      </div>
      <div class="callout callout-info">
        <h4>কোথা থেকে আমরা এই তথ্যগুলি পেয়েছি এবং এসব এর ত্রুটিমুক্ত সম্পর্কে কি উদ্যোগ নেয়া হয়েছে </h4>
        <p>যদিও বিভিন্ন কারণে আমাদের পক্ষে ওয়েবসাইটের জন্য পর্যাপ্ত সময় ব্যয় করা সম্ভব হয় না। তারপরও আমরা ওয়েবসাইটটিকে যথাসাধ্য ভুল-ভ্রান্তি মুক্ত রাখার চেষ্টা করি। কোন মানুষই ভুলের উর্ধ্বে নয়। ভুল টাইপিং এর কারণে ভাষাগত এবং ছোটখাট তথ্যগত ভুল থাকতে পারে। এছাড়া মানুষের মধ্যে ব্যাপক মতভেদ বিদ্যমান। তাই ছোটখাট ভুল-ভ্রান্তি পাঠককে অবশ্যই ক্ষমাসুন্দর দৃষ্টিতে দেখার এবং এ বিষয়ে আমাদের অবগত করার মাধ্যমে আমাদের মূল উদ্দেশ্যকে সফল করতে সাহায্য করার বিনীত অনুরোধ থাকবে।  কোথাও কিছু ভুল দেখলে আমাদের দয়া করে জানাবেন, আমরা ঠিক করে দিব (ইনশাআল্লাহ ) </p>

      </div>
      <div class="callout callout-warning">
          
            <h4>নতুন কিছু সংযুক্তি </h4>
            <p>আমাদের ওয়েবসাইট আমরা নতুন নতুন বিষয় যোগ করতে আগ্রহী, আপনার জানা মতে কোন বিষয় থাকলে আমাদের ইমেইল করুন. </p>

      </div>
      <div class="callout callout-success">
                    
            <h4>সহায়ক হিসাবে কাজ করতে আগ্রহী </h4>
            <p>এটি একটি সম্পূর্ণ স্বেচ্ছাশ্রম এ বানানো ওয়েবসাইট, এখানে আপনি যদি কোনো প্রকার অংশগ্রহণ করতে চান, তবে আপনার আগ্রহ আমাদের জানান. <br /> email: shahinbdboy@gmail.com </p>


      </div>
      <div class="callout callout-danger">
                    
            <h4>যোগাযোগ করুন</h4>
            <p> আপনার যদি কোনও প্রশ্ন বা পরামর্শ থাকে তবে shahinbdboy@gmail.com এ আমার সাথে যোগাযোগ করতে দ্বিধা করবেন না।   </p> 
      </div>
      <div class="callout callout-danger">
                    
            <h4>আল্লাহ আমাদের সকল প্রচেষ্টা কবুল করুন</h4> 
      </div>



      <div class="callout callout-success">
                    
        <h4> আমরা যে সব ওয়েবসাইট বা এপ্লিকেশন এর  সাহায্য নিয়েছি : </h4>
              <ul>
                <li><a href="http://corpus.quran.com/" target="_blank"> http://corpus.quran.com/ </a></li>
                <li><a href="http://tanzil.net/" target="_blank">http://tanzil.net/</a></li>
                <li><a href="http://muhammadyeahia.com/" target="_blank">http://muhammadyeahia.com/</a></li>
                <li><a href="https://www.qurananalysis.com/" target="_blank">https://www.qurananalysis.com/</a></li>
                <li><a href="http://tafseer.info/" target="_blank">http://tafseer.info/</a></li>
                <li><a href="http://www.muhammadyeahia.com" target="_blank">কুরআনিক আরবি বই </a></li>
                <li><a href="http://www.quranmazid.com/" target="_blank">http://www.quranmazid.com/</a></li>
                <li><a href="https://hadithbd.com/quran/" target="_blank">https://hadithbd.com/quran/</a></li>
                <li><a href="https://qurano.com/bn/" target="_blank">https://qurano.com/bn/</a></li>
                <li><a href="http://dawahwatablig.com/" target="_blank">http://dawahwatablig.com/</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=bd.jetbrain.nazim.al_quran" target="_blank">তাফসির সহ বাংলা কুরআন App</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.ihadis.quran" target="_blank">কুরআন মাজীদ App</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.greentech.quran" target="_blank">Al Quran (Tafsir & by Word) App</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.quranreading.quranvocabulary" target="_blank">Quran Vocabulary Memorization App</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.analyzequran.app" target="_blank">AnalyzeQuran App</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.ihadis.ihadis" target="_blank">আল হাদিস App</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.bi.learnquran" target="_blank">Learn Quran Tajwid App</a></li>
                <li><a href="https://play.google.com/store/apps/details?id=com.hexamid.studios.quranerdua" target="_blank">কুরআনের দু'আ App</a></li>
                <li><a href="https://www.facebook.com/md.masood" target="_blank">Muhammad Masood (Facebook User) </a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100005435299487" target="_blank">S M Nahid Hasan (Facebook User) </a></li> 
                <li><a href="https://islamhouse.com/bn/" target="_blank">ইসলামী পি ডি এফ বই </a></li>
                <li><a href="https://www.alquranervasha.com/downloads" target="_blank">আল-কুরআনের শব্দসমূহ  বই </a></li>
                <li><a href="http://www.youtube.com" target="_blank"> বিভিন্ন ইসলামিক ভিডিও </a></li>
                <li><a href="https://quran.ksu.edu.sa/index.php?l=bn" target="_blank"> quran.ksu.edu.sa </a></li>
                <li><a href="https://tafsir.app/" target="_blank">https://tafsir.app </a></li>
                <li><a href="http://islamlecture.com" target="_blank">http://islamlecture.com/ </a></li>
                <li><a href="https://enlightyourheart.wordpress.com/arabic/" target="_blank">https://enlightyourheart.wordpress.com/arabic/</a></li>
                <li><a href="#" target="_blank">আর ও অনেকে </a></li>
                 
              </ul>


        </div>



    </div>
    <!-- /.card-body -->
  </div>


  <script>
    $(document).ready(function () {
          $('#dynamic_content .dynamic_content_block').html('');
          $('#dynamic_heading').slideUp();
    });
  </script>