

<div class="row topindexbar">
    <div class="col-md-5 col-sm-12">
        
            <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
            <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>
        
    </div>
    <div class="col-md-2 col-sm-12 indexcol">
        <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
    </div>
    <div class="col-md-5  col-sm-12">
                <h3 class="text-center arabic cs1"> بركات لزيادة الإيمان </h3>
                <p class="bangla text-center">ঈমান বৃদ্ধির দু'আ</p> 
    </div> 

</div>
 

<script>
    
    $(document).ready(function() {
        //openSidebarMenu(); 

        dynamic_data =  {
  "subject": "ঈমান বৃদ্ধির দু'আ",
  "introHtml": "দু‘আ হচ্ছে সকল ইবাদতের মূল। রসূল সা. বলেন,\n\nإِنَّ الدُّعَاءَ هُوَ الْعِبَادَةُ\nঅর্থ: নিশ্চয় দু‘আই হচ্ছে ইবাদত [মুসনাদে আহমদ : ১৮৩৮৬ সনদ সহীহ]।\nআল্লাহ তায়ালাও কুরআনের বিভিন্ন জায়গায় তাঁর কাছে দু‘আ করতে আদেশ করেছেন। ",
  "ayah": [
            {
                      "surah": 1,
                      "ayah": [
                                6,
                                7
                      ]
            },
            {
                      "surah": 2,
                      "ayah": [
                                127,
                                128,
                                250
                      ]
            },
            {
                      "surah": 3,
                      "ayah": [
                                9,
                                53,
                                73,
                                74
                      ]
            },
            {
                      "surah": 7,
                      "ayah": [
                                126
                      ]
            },
            {
                      "surah": 14,
                      "ayah": [
                                38,
                                40
                      ]
            },
            {
                      "surah": 17,
                      "ayah": [
                                80
                      ]
            },
            {
                      "surah": 18,
                      "ayah": [
                                10
                      ]
            },
            {
                      "surah": 23,
                      "ayah": [
                                94
                      ]
            },
            {
                      "surah": 26,
                      "ayah": [
                                83,
                                84,
                                85,
                                86
                      ]
            },
            {
                      "surah": 27,
                      "ayah": [
                                19
                      ]
            },
            {
                      "surah": 40,
                      "ayah": [
                                27,
                                44
                      ]
            },
            {
                      "surah": 46,
                      "ayah": [
                                15
                      ]
            },
            {
                      "surah": 66,
                      "ayah": [
                                8
                      ]
            }
  ],
  "videos": [],
  "articles": [],
  "books": []
} ;
        

            populate_dynamic_view(dynamic_data); 


    });
</script>												
                            