

<div class="row topindexbar">
    <div class="col-md-5 col-sm-12">
        
            <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
            <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>
        
    </div>
    <div class="col-md-2 col-sm-12 indexcol">
        <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
    </div>
    <div class="col-md-5  col-sm-12">
                <h3 class="text-center arabic cs1"> نصلي من أجل السلامة والأمن </h3>
                <p class="bangla text-center">নিরাপত্তা এবং সুরক্ষার দু'আ</p> 
    </div> 

</div>
 

<script>
    
    $(document).ready(function() {
        //openSidebarMenu(); 

        dynamic_data =  {
  "subject": "নিরাপত্তা এবং সুরক্ষার দু'আ",
  "introHtml": "দু‘আ হচ্ছে সকল ইবাদতের মূল। রসূল সা. বলেন,\n\nإِنَّ الدُّعَاءَ هُوَ الْعِبَادَةُ\nঅর্থ: নিশ্চয় দু‘আই হচ্ছে ইবাদত [মুসনাদে আহমদ : ১৮৩৮৬ সনদ সহীহ]।\nআল্লাহ তায়ালাও কুরআনের বিভিন্ন জায়গায় তাঁর কাছে দু‘আ করতে আদেশ করেছেন। ",
  "ayah": [
            {
                      "surah": 3,
                      "ayah": [
                                8
                      ]
            },
            {
                      "surah": 7,
                      "ayah": [
                                47
                      ]
            },
            {
                      "surah": 10,
                      "ayah": [
                                85,
                                86
                      ]
            },
            {
                      "surah": 12,
                      "ayah": [
                                33
                      ]
            },
            {
                      "surah": 19,
                      "ayah": [
                                18
                      ]
            },
            {
                      "surah": 23,
                      "ayah": [
                                97,
                                98
                      ]
            },
            {
                      "surah": 26,
                      "ayah": [
                                169
                      ]
            },
            {
                      "surah": 28,
                      "ayah": [
                                21
                      ]
            },
            {
                      "surah": 29,
                      "ayah": [
                                30
                      ]
            },
            {
                      "surah": 60,
                      "ayah": [
                                4,
                                5
                      ]
            },
            {
                      "surah": 113,
                      "ayah": [
                                1,
                                2,
                                3,
                                4,
                                5
                      ]
            },
            {
                      "surah": 114,
                      "ayah": [
                                1,
                                2,
                                3,
                                4,
                                5,
                                6
                      ]
            }
  ],
  "videos": [],
  "articles": [],
  "books": []
} ;
        

            populate_dynamic_view(dynamic_data); 


    });
</script>												
                            