

<div class="row topindexbar">
    <div class="col-md-5 col-sm-12">
        
            <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
            <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>
        
    </div>
    <div class="col-md-2 col-sm-12 indexcol">
        <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
    </div>
    <div class="col-md-5  col-sm-12">
                <h3 class="text-center arabic cs1"> زِدْنِىْ / اَعُوْذُ </h3>
                <p class="bangla text-center">অনুগ্রহ / আশ্রয় </p> 
    </div> 

</div>
 

<script>
    
    $(document).ready(function() {
        //openSidebarMenu(); 

        dynamic_data =  {
  "subject": "অনুগ্রহ / আশ্রয় ",
  "introHtml": "দু‘আ হচ্ছে সকল ইবাদতের মূল। রসূল সা. বলেন,\n\nإِنَّ الدُّعَاءَ هُوَ الْعِبَادَةُ\nঅর্থ: নিশ্চয় দু‘আই হচ্ছে ইবাদত [মুসনাদে আহমদ : ১৮৩৮৬ সনদ সহীহ]।\nআল্লাহ তায়ালাও কুরআনের বিভিন্ন জায়গায় তাঁর কাছে দু‘আ করতে আদেশ করেছেন। ",
  "ayah": [
            {
                      "surah": 2,
                      "ayah": [
                                67,
                                126,
                                286
                      ]
            },
            {
                      "surah": 3,
                      "ayah": [
                                26,
                                27
                      ]
            },
            {
                      "surah": 4,
                      "ayah": [
                                75
                      ]
            },
            {
                      "surah": 5,
                      "ayah": [
                                25,
                                83,
                                114
                      ]
            },
            {
                      "surah": 7,
                      "ayah": [
                                89
                      ]
            },
            {
                      "surah": 11,
                      "ayah": [
                                47
                      ]
            },
            {
                      "surah": 14,
                      "ayah": [
                                35
                      ]
            },
            {
                      "surah": 20,
                      "ayah": [
                                25,
                                26,
                                27,
                                28,
                                114
                      ]
            },
            {
                      "surah": 21,
                      "ayah": [
                                112
                      ]
            },
            {
                      "surah": 23,
                      "ayah": [
                                26,
                                29
                      ]
            },
            {
                      "surah": 27,
                      "ayah": [
                                15
                      ]
            },
            {
                      "surah": 28,
                      "ayah": [
                                24
                      ]
            },
            {
                      "surah": 37,
                      "ayah": [
                                180,
                                181,
                                182
                      ]
            },
            {
                      "surah": 71,
                      "ayah": [
                                26
                      ]
            }
  ],
  "videos": [],
  "articles": [],
  "books": []
} ;
        

            populate_dynamic_view(dynamic_data); 


    });
</script>												
                            