<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">আবহাওয়া</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:164, 2:265, 4:102, 6:99, 7:160, 7:57, 8:11, 10:24, 13:12, 13:13, 13:17, 14:18, 14:32, 15:22, 16:65, 17:68, 17:69, 18:45, 20:53, 21:81, 22:5, 22:63, 23:18, 24:40, 24:43, 25:25, 25:48, 27:60, 27:63, 29:40, 29:63, 30:24, 30:46, 30:48, 30:51, 31:10, 31:34, 32:27, 33:9, 34:12, 35:27, 35:9, 38:36, 39:21, 40:13, 41:16, 41:39, 42:28, 42:33, 43:11, 45:5, 46:24, 50:9, 51:1, 51:2, 51:3, 51:4, 51:41, 52:27, 52:44, 54:19, 56:69, 57:20, 67:17, 69:6, 78:14, 80:25";
           dynamic_data = {
                   "subject": "আবহাওয়া",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>