<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">অনুগ্রহকারী</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:112, 2:195, 2:236, 2:58, 3:134, 3:148, 4:125, 5:13, 5:85, 5:93, 6:84, 7:161, 7:56, 9:120, 9:91, 11:115, 16:128, 18:30, 22:37, 28:14, 29:69, 31:2, 31:3, 33:29, 37:113, 39:34, 39:55, 39:56, 39:57, 39:58, 46:12";
           dynamic_data = {
                   "subject": "অনুগ্রহকারী",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>