<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">বিপর্যয়</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:210, 2:55, 3:112, 4:153, 7:130, 7:133, 7:136, 7:137, 7:27, 7:64, 7:72, 7:78, 7:84, 7:91, 7:94, 9:126, 9:82, 10:73, 10:83, 11:67, 11:82, 11:83, 11:94, 13:31, 15:73, 15:74, 15:83, 28:58, 28:59, 34:45, 36:18, 36:48, 38:3, 54:45, 54:46, 68:17, 68:19";
           dynamic_data = {
                   "subject": "বিপর্যয়",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>