<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">মহাজাগতিক সংক্রান্ত</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "6:96, 7:54, 10:5, 13:2, 14:33, 16:12, 21:33, 22:18, 22:65, 25:45, 25:61, 29:61, 31:29, 35:13, 36:38, 36:39, 36:40, 39:5, 41:37, 54:1, 55:5, 71:16, 74:32, 78:13, 81:1, 84:18, 91:1, 91:2";
           dynamic_data = {
                   "subject": "মহাজাগতিক সংক্রান্ত",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>