<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">ইসরাঈলের বংশধর</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:40, 2:47, 2:72, 3:180, 5:12, 5:32, 5:70, 5:78, 7:105, 10:90, 17:101, 17:104, 17:2, 17:4, 20:47, 20:80, 20:94, 26:17, 26:197, 26:22, 26:59, 27:76, 32:23, 40:53, 43:59, 44:30, 45:16, 46:10, 61:14, 61:6";
           dynamic_data = {
                   "subject": "ইসরাঈলের বংশধর",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>