<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">শয়ত্বান</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:34, 3:155, 3:175, 4:116, 4:119, 4:120, 4:140, 4:145, 4:38, 4:60, 4:76, 5:90, 5:91, 6:38, 6:43, 6:68, 7:11, 7:12, 7:175, 7:20, 7:200, 7:201, 7:21, 7:27, 8:11, 8:48, 12:100, 12:42, 12:5, 14:22, 15:31, 15:32, 15:33, 15:34, 15:35, 15:36, 15:37, 15:38, 15:39, 15:40, 16:63, 16:98, 17:27, 17:53, 17:61, 17:64, 18:50, 18:63, 19:44, 19:45, 20:116, 20:120, 22:52, 22:53, 24:21, 25:29, 26:95, 27:24, 28:15, 29:38, 31:21, 34:20, 34:21, 35:6, 36:60, 37:65, 38:41, 38:74, 38:75, 38:76, 38:77, 38:78, 38:79, 38:80, 38:81, 38:82, 38:83, 38:84, 38:85, 41:36, 43:62, 47:25, 58:10, 58:19, 59:16";
           dynamic_data = {
                   "subject": "শয়ত্বান",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>