<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">শুক্রবিন্দু</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "16:4, 18:37, 22:5, 23:12, 23:13, 23:14, 35:11, 36:77, 40:67, 53:45, 53:46, 75:37, 75:38, 75:39, 76:2, 80:19";
           dynamic_data = {
                   "subject": "শুক্রবিন্দু",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>