<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">আহার করা / খাদ্যগ্রহণ করা</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "5:113, 6:121, 12:13, 12:36, 12:41, 16:14, 16:5, 25:20, 25:7, 25:8, 32:27, 33:53, 34:14, 36:33, 36:34, 36:35, 37:66, 37:91, 40:79, 43:73, 47:12, 49:12, 51:27, 56:51, 56:52, 69:35, 69:36, 69:37";
           dynamic_data = {
                   "subject": "আহার করা / খাদ্যগ্রহণ করা",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>