<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">লোভ</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "4:29, 4:30, 4:32, 8:27, 9:24, 9:34, 9:55, 9:85, 15:88, 16:90, 17:27, 20:131, 25:67, 28:76, 33:28, 57:20, 63:9, 64:15, 68:14, 71:12, 71:22, 89:20, 92:11, 100:8, 102:1, 102:2, 102:3, 102:4, 102:5, 102:6, 104:2, 104:3, 111:2";
           dynamic_data = {
                   "subject": "লোভ",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>