<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">মুনাফিক</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:217, 4:38, 5:61, 9:100, 9:101, 9:102, 9:103, 9:104, 9:105, 9:106, 9:107, 9:108, 9:109, 9:110, 9:113, 9:61, 9:62, 9:63, 9:64, 9:65, 9:66, 9:67, 9:68, 9:69, 9:70, 9:73, 9:74, 9:75, 9:76, 9:77, 9:78, 9:79, 9:80, 9:81, 9:82, 9:83, 9:84, 9:85, 9:86, 9:87, 9:88, 9:89, 9:90, 9:91, 9:92, 9:93, 9:94, 9:95, 9:96, 9:97, 9:98, 9:99";
           dynamic_data = {
                   "subject": "মুনাফিক",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>