<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">মধ্যস্থতা</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:123, 2:254, 2:255, 2:48, 6:51, 6:70, 6:93, 6:94, 7:53, 10:18, 10:3, 19:87, 20:106, 20:109, 21:28, 26:100, 30:13, 32:4, 34:23, 36:23, 39:43, 39:44, 40:18, 43:86, 53:26, 74:48";
           dynamic_data = {
                   "subject": "মধ্যস্থতা",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>