<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">মানুষ, মানুষের কর্তব্য</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:177, 2:83, 2:84, 2:88, 4:10, 4:1, 4:11, 4:12, 4:13, 4:14, 4:15, 4:16, 4:17, 4:18, 4:19, 4:2, 4:20, 4:21, 4:22, 4:23, 4:24, 4:25, 4:26, 4:27, 4:28, 4:29, 4:3, 4:30, 4:31, 4:32, 4:33, 4:34, 4:35, 4:36, 4:4, 4:5, 4:6, 4:7, 4:8, 4:9, 8:41, 16:90, 17:23, 17:24, 17:25, 17:26, 17:27, 17:28, 17:29, 17:30, 17:31, 17:32, 17:33, 17:34, 17:35, 17:36, 17:37, 17:38, 17:39, 24:22, 29:8, 29:9, 30:38, 33:33, 42:23, 64:14, 70:22, 70:23, 70:24, 70:25, 70:26, 70:27, 70:28, 70:29, 70:30, 70:31, 70:32, 70:33, 70:34, 70:35";
           dynamic_data = {
                   "subject": "মানুষ, মানুষের কর্তব্য",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>