<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">মুহাম্মদ(সাঃ), মুহাম্মদ(সাঃ) সালাত আদায়</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "73:1, 73:2, 73:20, 73:3, 73:4, 73:5, 73:6, 73:7, 73:8, 74:3";
           dynamic_data = {
                   "subject": "মুহাম্মদ(সাঃ), মুহাম্মদ(সাঃ) সালাত আদায়",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>