<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">দরিদ্র</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:177, 2:184, 2:215, 2:271, 2:273, 2:83, 2:88, 3:181, 4:135, 4:36, 4:6, 4:8, 5:89, 5:95, 8:41, 9:60, 17:26, 17:31, 18:79, 22:27, 22:28, 22:36, 24:22, 24:32, 30:38, 35:15, 47:38, 51:19, 58:4, 59:7, 59:8, 68:23, 68:24, 69:33, 69:34, 74:43, 74:44, 76:8, 89:17, 89:18, 90:12, 90:13, 90:14, 90:15, 90:16, 93:8, 107:2, 107:3";
           dynamic_data = {
                   "subject": "দরিদ্র",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>