<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">আত্মীয়</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:177, 2:180, 2:215, 2:83, 4:11, 4:135, 4:33, 4:36, 4:7, 4:8, 5:106, 6:151, 6:152, 8:41, 8:75, 9:113, 13:38, 16:90, 17:23, 17:24, 17:25, 17:26, 19:5, 24:22, 26:214, 29:33, 30:38, 33:6, 59:7, 60:3, 64:14, 64:15, 90:13, 90:14, 90:15";
           dynamic_data = {
                   "subject": "আত্মীয়",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>