<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">উদ্ঘাটন</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "13:38, 42:51, 42:52, 43:4, 45:16, 46:12, 47:20, 52:2, 52:3, 53:10, 53:11, 53:2, 53:3, 53:4, 53:5, 53:6, 53:7, 53:8, 53:9, 56:80, 57:16, 57:25, 57:26, 66:12, 69:43, 74:31, 74:52, 80:13, 98:1, 98:4, 98:6";
           dynamic_data = {
                   "subject": "উদ্ঘাটন",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>