<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">ধর্মগ্রন্থ, ইহুদি এবং খ্রিস্টানগণ</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:109, 3:110, 3:113, 3:199, 3:64, 3:65, 3:69, 3:70, 3:71, 3:72, 3:75, 3:98, 3:99, 4:153, 4:154, 4:155, 4:156, 4:157, 4:158, 4:159, 4:160, 4:161, 4:47, 5:59, 5:60, 5:68, 98:1";
           dynamic_data = {
                   "subject": "ধর্মগ্রন্থ, ইহুদি এবং খ্রিস্টানগণ",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>