<div class="row topindexbar">
    <div class="col-md-5 col-sm-12">

        <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
        <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

    </div>
    <div class="col-md-2 col-sm-12 indexcol">
        <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()">
            সূচিপত্র/তালিকা </button>
    </div>
    <div class="col-md-5  col-sm-12">
        <h3 class="text-center arabic cs1"> النحو  </h3>
        <p class="bangla text-center"> নাহু   </p>
    </div>

</div>

 


<script>
    $(document).ready(function () {
        //openSidebarMenu();  
        dynamic_data = {
            "subject": " নাহু  ",
            "introHtml": "শব্দের প্রকারভেদ, ইসম,হরফ,মুরাব,মাবনী,আসমায়ে মুতামাক্কিনা,মা’রিফাহ,নাকিরাহ,আমেল,মা’মুল, মারফুআত,মানসুবাত,মাজরুরাত, জিন্স, বাক্যের তাহকীক, ইত্যাদি বিষয়গুলো নাহুর গুরুত্বপূর্ণ অংশ। ",
            "ayah": [],
            "videos": [{
                    "title": "নাহু",
                    "thumb": "https://i.ytimg.com/vi/ZTELbbnGrvo/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLgdxnhgIhVNt46NgZ0XtVJYBHR4uS-3P5"
                },{
                    "title": "এসো আরবী শিখি",
                    "thumb": "https://i.ytimg.com/vi_webp/ar_NDZQBydY/hqdefault.webp",
                    "url": "https://www.youtube.com/playlist?list=PLOPo9pl2YzJNfprQqnQZnYuouMt0BeL5-"
                }, {
                    "title": "আল-কুরআনের ভাষা শিক্ষা",
                    "thumb": "https://i.ytimg.com/vi_webp/P1JzIE6KxSw/hqdefault.webp",
                    "url": "https://www.youtube.com/playlist?list=PL1JKv-zqJfEYrTa7TpUGb74JOjPoCojjT"
                }, {
                    "title": 'ইকরা সহজ আরবী শি‌খি',
                    "thumb": "https://i.ytimg.com/vi/Pgk4dVFgWbQ/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLBVw9XNURD_AdUWNG_wO5O4XD5VcBMj1s"
                }, 
                {
                    "title": "আরবী ব্যাকরণ শিক্ষা",
                    "thumb": "https://i.ytimg.com/vi/y-8xqK7tQhA/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLrKezsGbHrwsbEwCrwcHFDYXAG_xufWl5"
                },  {
                    "title": "কুরআনীয় আরবী শিক্ষা",
                    "thumb": "https://i.ytimg.com/vi/ml6ySYNCiwo/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PL1JKv-zqJfEb6_i7oyG_vtv7d_nRzK3vF"
                }, {
                    "title": "Let's Learn Arabic With Fun & Ease",
                    "thumb": "https://i.ytimg.com/vi/pA3Fdl2bAT4/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLIBMga6MApfJg9r5cn2yjvlIC-sZcq-9_"
                },{
                    "title": "Hidayatun Nahw by Hashim Mohamed",
                    "thumb": "https://i.ytimg.com/vi/FfhrWYOnlJ8/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLzn0qdi6JpdtdAyaM2yvvY1Yk9i4EpLHD"
                },{
                    "title": "First Steps To Understanding Nahw by Hashim Mohamed",
                    "thumb": "https://i.ytimg.com/vi/0G79mEu99aw/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLzn0qdi6JpduLYJhzKttH2jLD6953gBsb"
                },{
                    "title": "First Steps To Understanding Nahw Level 1 - Hashim Mohamed",
                    "thumb": "https://i.ytimg.com/vi/ndSh76_Yd-g/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLzn0qdi6JpdtYROmDjASD8rHQm7kowfLi"
                },{
                    "title": "First Steps To Understanding Nahw Level 2 - Hashim Mohamed",
                    "thumb": "https://i.ytimg.com/vi/6cAmAy1bngA/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLzn0qdi6JpdvJ4_2KS9cEil3rm7rzT5iC"
                },{
                    "title": "Irab al-Quran",
                    "thumb": "https://i.ytimg.com/vi/r4QBeG73csE/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLzn0qdi6Jpdt7lbwz1V1lDhRxnG6EURrB"
                },{
                    "title": "Tarkib and Irab by Hashim Mohamed",
                    "thumb": "https://i.ytimg.com/vi/dNx3ulhEpFo/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLzn0qdi6JpdsmviGaI1f2yIz3sObLO1dp"
                },{
                    "title": "Advanced Arabic Class",
                    "thumb": "https://i.ytimg.com/vi/ly24oXM0y-I/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLzn0qdi6JpdvlQYz3sLQQ9OPP-HAtLwoP"
                },{
                    "title": "NAHW ARABIC GRAMMAR",
                    "thumb": "https://i.ytimg.com/vi/uP1WUo9ut8Y/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLb4VujMKLYy6Kmz6jHfxYTPaxPbwLWEcd"
                },{
                    "title": "Nahw - Ajrumiyyah - Arabic grammar - English classes for non- Arabs",
                    "thumb": "https://i.ytimg.com/vi/WeIamDJmCiI/hqdefault.jpg",
                    "url": "https://www.youtube.com/playlist?list=PLD4BAa8ewPL9jBnGBUX4-FTx8VdN76mDw"
                }],
            "articles": [],
            "books": [
            
                        {
                            'type'  : "firebase-pdf", 
                            'title' : 'ষাট ঘন্টায় নাহু-ছরফ শিক্ষা',
                            'writer': "মোহাম্মদ ইব্রাহিম খলিল",
                            'url'   : 'arabic_language%2Fnaho-sorf-with-60-classes.pdf',
                            'thumb' : 'arabic_language%2Fnaho-sorf-with-60-classes.png', 
                        } 
            ],
            "extrahtml": [{
                    "heading": "ই’লমুন নাহু",
                    "subheading": "dawahwatablig.com",
                    "html": "/partials/arabic_languages/nahu_dawahwatablig.html",
                    "icon": "hand-holding-heart"
                }  
            ]
        };


        populate_dynamic_view(dynamic_data);


    });
</script>