<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">মূসা (আঃ) এবং তাঁর সম্প্রদায়ের বাছুর-উপাসনা</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "7:148, 7:149, 7:150, 7:151, 7:152, 7:153, 7:154, 7:155, 7:156, 20:86, 20:87, 20:88, 20:89, 20:90, 20:91, 20:92, 20:93, 20:94, 20:95, 20:96, 20:97, 20:98";
           dynamic_data = {
                   "subject": "মূসা (আঃ) এবং তাঁর সম্প্রদায়ের বাছুর-উপাসনা",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>