<div class="row topindexbar">
   <div class="col-md-5 col-sm-12">

           <h3 class="text-center arabic cs1">بِسْمِ اللَّهِ الرَّحْمٰنِ الرَّحِیْمِ</h3>
           <p class="bangla text-center">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p>

   </div>
   <div class="col-md-2 col-sm-12 indexcol">
           <button type="button" class="btn btn-block bg-gradient-secondary btn-lg" onClick="openSidebarMenu()"> সূচিপত্র/তালিকা </button>
   </div>
   <div class="col-md-5  col-sm-12">
           <h3 class="text-center arabic cs1">   </h3>
           <p class="bangla text-center">নবী ইব্রাহিম (আঃ)</p>
   </div>

</div>




<script>
   $(document).ready(function () {
           //openSidebarMenu(); 
           CayahArray =
                   "2:124, 2:125, 2:126, 2:127, 2:128, 2:129, 2:130, 2:131, 2:132, 2:135, 2:136, 2:140, 2:258, 2:260, 3:65, 3:67, 3:68, 3:84, 3:95, 3:97, 4:125, 4:163, 4:54, 4:55, 6:161, 6:74, 6:75, 6:76, 6:77, 6:78, 6:79, 6:80, 6:81, 6:82, 6:83, 9:114, 9:70, 11:69, 11:70, 11:71, 11:72, 11:73, 11:74, 11:75, 11:76, 12:38, 12:6, 14:35, 15:51, 15:52, 15:53, 15:54, 15:55, 15:56, 16:120, 16:123, 19:41, 19:42, 19:43, 19:44, 19:45, 19:46, 19:47, 19:48, 19:49, 19:58, 21:51, 21:52, 21:53, 21:54, 21:55, 21:56, 21:57, 21:58, 21:59, 21:60, 21:61, 21:62, 21:63, 21:64, 21:65, 21:66, 21:67, 21:68, 21:69, 21:70, 21:71, 21:72, 21:73, 22:26, 22:43, 22:78, 26:123, 26:69, 29:16, 29:25, 29:31, 33:7, 38:45, 42:13, 43:26, 51:24, 51:25, 51:26, 51:27, 51:28, 51:29, 51:30, 51:31, 51:32, 51:33, 51:34, 53:37, 57:26, 60:4, 60:5, 87:19";
           dynamic_data = {
                   "subject": "নবী ইব্রাহিম (আঃ)",
                   "introHtml": "",
                   "ayah": String2AyahArray(CayahArray),
                   "videos": [],
                   "articles": [],
                   "books": []
           };


           populate_dynamic_view(dynamic_data);


   });
</script>