<div style="min-height: 110vh">
    <div id="tajweed_quran" style="min-height:1200px"></div>
</div>

<script>
    $(document).ready(function () {
        var q_pages = [
         "/resources/images/tajweed_quran_v2/000.jpg",
          "/resources/images/tajweed_quran/0.jpg",
          "/resources/images/tajweed_quran/1.jpg",
          "/resources/images/tajweed_quran/2.jpg",
          "/resources/images/tajweed_quran/3.jpg",
          "/resources/images/tajweed_quran/4.jpg",
          "/resources/images/tajweed_quran/5.jpg",
          "/resources/images/tajweed_quran/6.jpg",
          "/resources/images/tajweed_quran/7.jpg",
          "/resources/images/tajweed_quran/8.jpg",
          "/resources/images/tajweed_quran/9.jpg",
          "/resources/images/tajweed_quran/10.jpg",
          "/resources/images/tajweed_quran/11.jpg",
          "/resources/images/tajweed_quran/12.jpg",
          "/resources/images/tajweed_quran/13.jpg",
          "/resources/images/tajweed_quran/14.jpg",
          "/resources/images/tajweed_quran/15.jpg",
          "/resources/images/tajweed_quran/16.jpg",
          "/resources/images/tajweed_quran/17.jpg",
          "/resources/images/tajweed_quran/18.jpg",
          "/resources/images/tajweed_quran/19.jpg",
          "/resources/images/tajweed_quran/20.jpg",
          "/resources/images/tajweed_quran/21.jpg",
          "/resources/images/tajweed_quran/22.jpg",
          "/resources/images/tajweed_quran/23.jpg",
          "/resources/images/tajweed_quran/24.jpg",
          "/resources/images/tajweed_quran/25.jpg",
          "/resources/images/tajweed_quran/26.jpg",
          "/resources/images/tajweed_quran/27.jpg",
          "/resources/images/tajweed_quran/28.jpg",
          "/resources/images/tajweed_quran/29.jpg",
          "/resources/images/tajweed_quran/30.jpg",
          "/resources/images/tajweed_quran/31.jpg",
          "/resources/images/tajweed_quran/32.jpg",
          "/resources/images/tajweed_quran/33.jpg",
          "/resources/images/tajweed_quran/34.jpg",
          "/resources/images/tajweed_quran/35.jpg",
          "/resources/images/tajweed_quran/36.jpg",
          "/resources/images/tajweed_quran/37.jpg",
          "/resources/images/tajweed_quran/38.jpg",
          "/resources/images/tajweed_quran/39.jpg",
          "/resources/images/tajweed_quran/40.jpg",
          "/resources/images/tajweed_quran/41.jpg",
          "/resources/images/tajweed_quran/42.jpg",
          "/resources/images/tajweed_quran/43.jpg",
          "/resources/images/tajweed_quran/44.jpg",
          "/resources/images/tajweed_quran/45.jpg",
          "/resources/images/tajweed_quran/46.jpg",
          "/resources/images/tajweed_quran/47.jpg",
          "/resources/images/tajweed_quran/48.jpg",
          "/resources/images/tajweed_quran/49.jpg",
          "/resources/images/tajweed_quran/50.jpg",
          "/resources/images/tajweed_quran/51.jpg",
          "/resources/images/tajweed_quran/52.jpg",
          "/resources/images/tajweed_quran/53.jpg",
          "/resources/images/tajweed_quran/54.jpg",
          "/resources/images/tajweed_quran/55.jpg",
          "/resources/images/tajweed_quran/56.jpg",
          "/resources/images/tajweed_quran/57.jpg",
          "/resources/images/tajweed_quran/58.jpg",
          "/resources/images/tajweed_quran/59.jpg",
          "/resources/images/tajweed_quran/60.jpg",
          "/resources/images/tajweed_quran/61.jpg",
          "/resources/images/tajweed_quran/62.jpg",
          "/resources/images/tajweed_quran/63.jpg",
          "/resources/images/tajweed_quran/64.jpg",
          "/resources/images/tajweed_quran/65.jpg",
          "/resources/images/tajweed_quran/66.jpg",
          "/resources/images/tajweed_quran/67.jpg",
          "/resources/images/tajweed_quran/68.jpg",
          "/resources/images/tajweed_quran/69.jpg",
          "/resources/images/tajweed_quran/70.jpg",
          "/resources/images/tajweed_quran/71.jpg",
          "/resources/images/tajweed_quran/72.jpg",
          "/resources/images/tajweed_quran/73.jpg",
          "/resources/images/tajweed_quran/74.jpg",
          "/resources/images/tajweed_quran/75.jpg",
          "/resources/images/tajweed_quran/76.jpg",
          "/resources/images/tajweed_quran/77.jpg",
          "/resources/images/tajweed_quran/78.jpg",
          "/resources/images/tajweed_quran/79.jpg",
          "/resources/images/tajweed_quran/80.jpg",
          "/resources/images/tajweed_quran/81.jpg",
          "/resources/images/tajweed_quran/82.jpg",
          "/resources/images/tajweed_quran/83.jpg",
          "/resources/images/tajweed_quran/84.jpg",
          "/resources/images/tajweed_quran/85.jpg",
          "/resources/images/tajweed_quran/86.jpg",
          "/resources/images/tajweed_quran/87.jpg",
          "/resources/images/tajweed_quran/88.jpg",
          "/resources/images/tajweed_quran/89.jpg",
          "/resources/images/tajweed_quran/90.jpg",
          "/resources/images/tajweed_quran/91.jpg",
          "/resources/images/tajweed_quran/92.jpg",
          "/resources/images/tajweed_quran/93.jpg",
          "/resources/images/tajweed_quran/94.jpg",
          "/resources/images/tajweed_quran/95.jpg",
          "/resources/images/tajweed_quran/96.jpg",
          "/resources/images/tajweed_quran/97.jpg",
          "/resources/images/tajweed_quran/98.jpg",
          "/resources/images/tajweed_quran/99.jpg",
          "/resources/images/tajweed_quran/100.jpg",
          "/resources/images/tajweed_quran/101.jpg",
          "/resources/images/tajweed_quran/102.jpg",
          "/resources/images/tajweed_quran/103.jpg",
          "/resources/images/tajweed_quran/104.jpg",
          "/resources/images/tajweed_quran/105.jpg",
          "/resources/images/tajweed_quran/106.jpg",
          "/resources/images/tajweed_quran/107.jpg",
          "/resources/images/tajweed_quran/108.jpg",
          "/resources/images/tajweed_quran/109.jpg",
          "/resources/images/tajweed_quran/110.jpg",
          "/resources/images/tajweed_quran/111.jpg",
          "/resources/images/tajweed_quran/112.jpg",
          "/resources/images/tajweed_quran/113.jpg",
          "/resources/images/tajweed_quran/114.jpg",
          "/resources/images/tajweed_quran/115.jpg",
          "/resources/images/tajweed_quran/116.jpg",
          "/resources/images/tajweed_quran/117.jpg",
          "/resources/images/tajweed_quran/118.jpg",
          "/resources/images/tajweed_quran/119.jpg",
          "/resources/images/tajweed_quran/120.jpg",
          "/resources/images/tajweed_quran/121.jpg",
          "/resources/images/tajweed_quran/122.jpg",
          "/resources/images/tajweed_quran/123.jpg",
          "/resources/images/tajweed_quran/124.jpg",
          "/resources/images/tajweed_quran/125.jpg",
          "/resources/images/tajweed_quran/126.jpg",
          "/resources/images/tajweed_quran/127.jpg",
          "/resources/images/tajweed_quran/128.jpg",
          "/resources/images/tajweed_quran/129.jpg",
          "/resources/images/tajweed_quran/130.jpg",
          "/resources/images/tajweed_quran/131.jpg",
          "/resources/images/tajweed_quran/132.jpg",
          "/resources/images/tajweed_quran/133.jpg",
          "/resources/images/tajweed_quran/134.jpg",
          "/resources/images/tajweed_quran/135.jpg",
          "/resources/images/tajweed_quran/136.jpg",
          "/resources/images/tajweed_quran/137.jpg",
          "/resources/images/tajweed_quran/138.jpg",
          "/resources/images/tajweed_quran/139.jpg",
          "/resources/images/tajweed_quran/140.jpg",
          "/resources/images/tajweed_quran/141.jpg",
          "/resources/images/tajweed_quran/142.jpg",
          "/resources/images/tajweed_quran/143.jpg",
          "/resources/images/tajweed_quran/144.jpg",
          "/resources/images/tajweed_quran/145.jpg",
          "/resources/images/tajweed_quran/146.jpg",
          "/resources/images/tajweed_quran/147.jpg",
          "/resources/images/tajweed_quran/148.jpg",
          "/resources/images/tajweed_quran/149.jpg",
          "/resources/images/tajweed_quran/150.jpg",
          "/resources/images/tajweed_quran/151.jpg",
          "/resources/images/tajweed_quran/152.jpg",
          "/resources/images/tajweed_quran/153.jpg",
          "/resources/images/tajweed_quran/154.jpg",
          "/resources/images/tajweed_quran/155.jpg",
          "/resources/images/tajweed_quran/156.jpg",
          "/resources/images/tajweed_quran/157.jpg",
          "/resources/images/tajweed_quran/158.jpg",
          "/resources/images/tajweed_quran/159.jpg",
          "/resources/images/tajweed_quran/160.jpg",
          "/resources/images/tajweed_quran/161.jpg",
          "/resources/images/tajweed_quran/162.jpg",
          "/resources/images/tajweed_quran/163.jpg",
          "/resources/images/tajweed_quran/164.jpg",
          "/resources/images/tajweed_quran/165.jpg",
          "/resources/images/tajweed_quran/166.jpg",
          "/resources/images/tajweed_quran/167.jpg",
          "/resources/images/tajweed_quran/168.jpg",
          "/resources/images/tajweed_quran/169.jpg",
          "/resources/images/tajweed_quran/170.jpg",
          "/resources/images/tajweed_quran/171.jpg",
          "/resources/images/tajweed_quran/172.jpg",
          "/resources/images/tajweed_quran/173.jpg",
          "/resources/images/tajweed_quran/174.jpg",
          "/resources/images/tajweed_quran/175.jpg",
          "/resources/images/tajweed_quran/176.jpg",
          "/resources/images/tajweed_quran/177.jpg",
          "/resources/images/tajweed_quran/178.jpg",
          "/resources/images/tajweed_quran/179.jpg",
          "/resources/images/tajweed_quran/180.jpg",
          "/resources/images/tajweed_quran/181.jpg",
          "/resources/images/tajweed_quran/182.jpg",
          "/resources/images/tajweed_quran/183.jpg",
          "/resources/images/tajweed_quran/184.jpg",
          "/resources/images/tajweed_quran/185.jpg",
          "/resources/images/tajweed_quran/186.jpg",
          "/resources/images/tajweed_quran/187.jpg",
          "/resources/images/tajweed_quran/188.jpg",
          "/resources/images/tajweed_quran/189.jpg",
          "/resources/images/tajweed_quran/190.jpg",
          "/resources/images/tajweed_quran/191.jpg",
          "/resources/images/tajweed_quran/192.jpg",
          "/resources/images/tajweed_quran/193.jpg",
          "/resources/images/tajweed_quran/194.jpg",
          "/resources/images/tajweed_quran/195.jpg",
          "/resources/images/tajweed_quran/196.jpg",
          "/resources/images/tajweed_quran/197.jpg",
          "/resources/images/tajweed_quran/198.jpg",
          "/resources/images/tajweed_quran/199.jpg",
          "/resources/images/tajweed_quran/200.jpg",
          "/resources/images/tajweed_quran/201.jpg",
          "/resources/images/tajweed_quran/202.jpg",
          "/resources/images/tajweed_quran/203.jpg",
          "/resources/images/tajweed_quran/204.jpg",
          "/resources/images/tajweed_quran/205.jpg",
          "/resources/images/tajweed_quran/206.jpg",
          "/resources/images/tajweed_quran/207.jpg",
          "/resources/images/tajweed_quran/208.jpg",
          "/resources/images/tajweed_quran/209.jpg",
          "/resources/images/tajweed_quran/210.jpg",
          "/resources/images/tajweed_quran/211.jpg",
          "/resources/images/tajweed_quran/212.jpg",
          "/resources/images/tajweed_quran/213.jpg",
          "/resources/images/tajweed_quran/214.jpg",
          "/resources/images/tajweed_quran/215.jpg",
          "/resources/images/tajweed_quran/216.jpg",
          "/resources/images/tajweed_quran/217.jpg",
          "/resources/images/tajweed_quran/218.jpg",
          "/resources/images/tajweed_quran/219.jpg",
          "/resources/images/tajweed_quran/220.jpg",
          "/resources/images/tajweed_quran/221.jpg",
          "/resources/images/tajweed_quran/222.jpg",
          "/resources/images/tajweed_quran/223.jpg",
          "/resources/images/tajweed_quran/224.jpg",
          "/resources/images/tajweed_quran/225.jpg",
          "/resources/images/tajweed_quran/226.jpg",
          "/resources/images/tajweed_quran/227.jpg",
          "/resources/images/tajweed_quran/228.jpg",
          "/resources/images/tajweed_quran/229.jpg",
          "/resources/images/tajweed_quran/230.jpg",
          "/resources/images/tajweed_quran/231.jpg",
          "/resources/images/tajweed_quran/232.jpg",
          "/resources/images/tajweed_quran/233.jpg",
          "/resources/images/tajweed_quran/234.jpg",
          "/resources/images/tajweed_quran/235.jpg",
          "/resources/images/tajweed_quran/236.jpg",
          "/resources/images/tajweed_quran/237.jpg",
          "/resources/images/tajweed_quran/238.jpg",
          "/resources/images/tajweed_quran/239.jpg",
          "/resources/images/tajweed_quran/240.jpg",
          "/resources/images/tajweed_quran/241.jpg",
          "/resources/images/tajweed_quran/242.jpg",
          "/resources/images/tajweed_quran/243.jpg",
          "/resources/images/tajweed_quran/244.jpg",
          "/resources/images/tajweed_quran/245.jpg",
          "/resources/images/tajweed_quran/246.jpg",
          "/resources/images/tajweed_quran/247.jpg",
          "/resources/images/tajweed_quran/248.jpg",
          "/resources/images/tajweed_quran/249.jpg",
          "/resources/images/tajweed_quran/250.jpg",
          "/resources/images/tajweed_quran/251.jpg",
          "/resources/images/tajweed_quran/252.jpg",
          "/resources/images/tajweed_quran/253.jpg",
          "/resources/images/tajweed_quran/254.jpg",
          "/resources/images/tajweed_quran/255.jpg",
          "/resources/images/tajweed_quran/256.jpg",
          "/resources/images/tajweed_quran/257.jpg",
          "/resources/images/tajweed_quran/258.jpg",
          "/resources/images/tajweed_quran/259.jpg",
          "/resources/images/tajweed_quran/260.jpg",
          "/resources/images/tajweed_quran/261.jpg",
          "/resources/images/tajweed_quran/262.jpg",
          "/resources/images/tajweed_quran/263.jpg",
          "/resources/images/tajweed_quran/264.jpg",
          "/resources/images/tajweed_quran/265.jpg",
          "/resources/images/tajweed_quran/266.jpg",
          "/resources/images/tajweed_quran/267.jpg",
          "/resources/images/tajweed_quran/268.jpg",
          "/resources/images/tajweed_quran/269.jpg",
          "/resources/images/tajweed_quran/270.jpg",
          "/resources/images/tajweed_quran/271.jpg",
          "/resources/images/tajweed_quran/272.jpg",
          "/resources/images/tajweed_quran/273.jpg",
          "/resources/images/tajweed_quran/274.jpg",
          "/resources/images/tajweed_quran/275.jpg",
          "/resources/images/tajweed_quran/276.jpg",
          "/resources/images/tajweed_quran/277.jpg",
          "/resources/images/tajweed_quran/278.jpg",
          "/resources/images/tajweed_quran/279.jpg",
          "/resources/images/tajweed_quran/280.jpg",
          "/resources/images/tajweed_quran/281.jpg",
          "/resources/images/tajweed_quran/282.jpg",
          "/resources/images/tajweed_quran/283.jpg",
          "/resources/images/tajweed_quran/284.jpg",
          "/resources/images/tajweed_quran/285.jpg",
          "/resources/images/tajweed_quran/286.jpg",
          "/resources/images/tajweed_quran/287.jpg",
          "/resources/images/tajweed_quran/288.jpg",
          "/resources/images/tajweed_quran/289.jpg",
          "/resources/images/tajweed_quran/290.jpg",
          "/resources/images/tajweed_quran/291.jpg",
          "/resources/images/tajweed_quran/292.jpg",
          "/resources/images/tajweed_quran/293.jpg",
          "/resources/images/tajweed_quran/294.jpg",
          "/resources/images/tajweed_quran/295.jpg",
          "/resources/images/tajweed_quran/296.jpg",
          "/resources/images/tajweed_quran/297.jpg",
          "/resources/images/tajweed_quran/298.jpg",
          "/resources/images/tajweed_quran/299.jpg",
          "/resources/images/tajweed_quran/300.jpg",
          "/resources/images/tajweed_quran/301.jpg",
          "/resources/images/tajweed_quran/302.jpg",
          "/resources/images/tajweed_quran/303.jpg",
          "/resources/images/tajweed_quran/304.jpg",
          "/resources/images/tajweed_quran/305.jpg",
          "/resources/images/tajweed_quran/306.jpg",
          "/resources/images/tajweed_quran/307.jpg",
          "/resources/images/tajweed_quran/308.jpg",
          "/resources/images/tajweed_quran/309.jpg",
          "/resources/images/tajweed_quran/310.jpg",
          "/resources/images/tajweed_quran/311.jpg",
          "/resources/images/tajweed_quran/312.jpg",
          "/resources/images/tajweed_quran/313.jpg",
          "/resources/images/tajweed_quran/314.jpg",
          "/resources/images/tajweed_quran/315.jpg",
          "/resources/images/tajweed_quran/316.jpg",
          "/resources/images/tajweed_quran/317.jpg",
          "/resources/images/tajweed_quran/318.jpg",
          "/resources/images/tajweed_quran/319.jpg",
          "/resources/images/tajweed_quran/320.jpg",
          "/resources/images/tajweed_quran/321.jpg",
          "/resources/images/tajweed_quran/322.jpg",
          "/resources/images/tajweed_quran/323.jpg",
          "/resources/images/tajweed_quran/324.jpg",
          "/resources/images/tajweed_quran/325.jpg",
          "/resources/images/tajweed_quran/326.jpg",
          "/resources/images/tajweed_quran/327.jpg",
          "/resources/images/tajweed_quran/328.jpg",
          "/resources/images/tajweed_quran/329.jpg",
          "/resources/images/tajweed_quran/330.jpg",
          "/resources/images/tajweed_quran/331.jpg",
          "/resources/images/tajweed_quran/332.jpg",
          "/resources/images/tajweed_quran/333.jpg",
          "/resources/images/tajweed_quran/334.jpg",
          "/resources/images/tajweed_quran/335.jpg",
          "/resources/images/tajweed_quran/336.jpg",
          "/resources/images/tajweed_quran/337.jpg",
          "/resources/images/tajweed_quran/338.jpg",
          "/resources/images/tajweed_quran/339.jpg",
          "/resources/images/tajweed_quran/340.jpg",
          "/resources/images/tajweed_quran/341.jpg",
          "/resources/images/tajweed_quran/342.jpg",
          "/resources/images/tajweed_quran/343.jpg",
          "/resources/images/tajweed_quran/344.jpg",
          "/resources/images/tajweed_quran/345.jpg",
          "/resources/images/tajweed_quran/346.jpg",
          "/resources/images/tajweed_quran/347.jpg",
          "/resources/images/tajweed_quran/348.jpg",
          "/resources/images/tajweed_quran/349.jpg",
          "/resources/images/tajweed_quran/350.jpg",
          "/resources/images/tajweed_quran/351.jpg",
          "/resources/images/tajweed_quran/352.jpg",
          "/resources/images/tajweed_quran/353.jpg",
          "/resources/images/tajweed_quran/354.jpg",
          "/resources/images/tajweed_quran/355.jpg",
          "/resources/images/tajweed_quran/356.jpg",
          "/resources/images/tajweed_quran/357.jpg",
          "/resources/images/tajweed_quran/358.jpg",
          "/resources/images/tajweed_quran/359.jpg",
          "/resources/images/tajweed_quran/360.jpg",
          "/resources/images/tajweed_quran/361.jpg",
          "/resources/images/tajweed_quran/362.jpg",
          "/resources/images/tajweed_quran/363.jpg",
          "/resources/images/tajweed_quran/364.jpg",
          "/resources/images/tajweed_quran/365.jpg",
          "/resources/images/tajweed_quran/366.jpg",
          "/resources/images/tajweed_quran/367.jpg",
          "/resources/images/tajweed_quran/368.jpg",
          "/resources/images/tajweed_quran/369.jpg",
          "/resources/images/tajweed_quran/370.jpg",
          "/resources/images/tajweed_quran/371.jpg",
          "/resources/images/tajweed_quran/372.jpg",
          "/resources/images/tajweed_quran/373.jpg",
          "/resources/images/tajweed_quran/374.jpg",
          "/resources/images/tajweed_quran/375.jpg",
          "/resources/images/tajweed_quran/376.jpg",
          "/resources/images/tajweed_quran/377.jpg",
          "/resources/images/tajweed_quran/378.jpg",
          "/resources/images/tajweed_quran/379.jpg",
          "/resources/images/tajweed_quran/380.jpg",
          "/resources/images/tajweed_quran/381.jpg",
          "/resources/images/tajweed_quran/382.jpg",
          "/resources/images/tajweed_quran/383.jpg",
          "/resources/images/tajweed_quran/384.jpg",
          "/resources/images/tajweed_quran/385.jpg",
          "/resources/images/tajweed_quran/386.jpg",
          "/resources/images/tajweed_quran/387.jpg",
          "/resources/images/tajweed_quran/388.jpg",
          "/resources/images/tajweed_quran/389.jpg",
          "/resources/images/tajweed_quran/390.jpg",
          "/resources/images/tajweed_quran/391.jpg",
          "/resources/images/tajweed_quran/392.jpg",
          "/resources/images/tajweed_quran/393.jpg",
          "/resources/images/tajweed_quran/394.jpg",
          "/resources/images/tajweed_quran/395.jpg",
          "/resources/images/tajweed_quran/396.jpg",
          "/resources/images/tajweed_quran/397.jpg",
          "/resources/images/tajweed_quran/398.jpg",
          "/resources/images/tajweed_quran/399.jpg",
          "/resources/images/tajweed_quran/400.jpg",
          "/resources/images/tajweed_quran/401.jpg",
          "/resources/images/tajweed_quran/402.jpg",
          "/resources/images/tajweed_quran/403.jpg",
          "/resources/images/tajweed_quran/404.jpg",
          "/resources/images/tajweed_quran/405.jpg",
          "/resources/images/tajweed_quran/406.jpg",
          "/resources/images/tajweed_quran/407.jpg",
          "/resources/images/tajweed_quran/408.jpg",
          "/resources/images/tajweed_quran/409.jpg",
          "/resources/images/tajweed_quran/410.jpg",
          "/resources/images/tajweed_quran/411.jpg",
          "/resources/images/tajweed_quran/412.jpg",
          "/resources/images/tajweed_quran/413.jpg",
          "/resources/images/tajweed_quran/414.jpg",
          "/resources/images/tajweed_quran/415.jpg",
          "/resources/images/tajweed_quran/416.jpg",
          "/resources/images/tajweed_quran/417.jpg",
          "/resources/images/tajweed_quran/418.jpg",
          "/resources/images/tajweed_quran/419.jpg",
          "/resources/images/tajweed_quran/420.jpg",
          "/resources/images/tajweed_quran/421.jpg",
          "/resources/images/tajweed_quran/422.jpg",
          "/resources/images/tajweed_quran/423.jpg",
          "/resources/images/tajweed_quran/424.jpg",
          "/resources/images/tajweed_quran/425.jpg",
          "/resources/images/tajweed_quran/426.jpg",
          "/resources/images/tajweed_quran/427.jpg",
          "/resources/images/tajweed_quran/428.jpg",
          "/resources/images/tajweed_quran/429.jpg",
          "/resources/images/tajweed_quran/430.jpg",
          "/resources/images/tajweed_quran/431.jpg",
          "/resources/images/tajweed_quran/432.jpg",
          "/resources/images/tajweed_quran/433.jpg",
          "/resources/images/tajweed_quran/434.jpg",
          "/resources/images/tajweed_quran/435.jpg",
          "/resources/images/tajweed_quran/436.jpg",
          "/resources/images/tajweed_quran/437.jpg",
          "/resources/images/tajweed_quran/438.jpg",
          "/resources/images/tajweed_quran/439.jpg",
          "/resources/images/tajweed_quran/440.jpg",
          "/resources/images/tajweed_quran/441.jpg",
          "/resources/images/tajweed_quran/442.jpg",
          "/resources/images/tajweed_quran/443.jpg",
          "/resources/images/tajweed_quran/444.jpg",
          "/resources/images/tajweed_quran/445.jpg",
          "/resources/images/tajweed_quran/446.jpg",
          "/resources/images/tajweed_quran/447.jpg",
          "/resources/images/tajweed_quran/448.jpg",
          "/resources/images/tajweed_quran/449.jpg",
          "/resources/images/tajweed_quran/450.jpg",
          "/resources/images/tajweed_quran/451.jpg",
          "/resources/images/tajweed_quran/452.jpg",
          "/resources/images/tajweed_quran/453.jpg",
          "/resources/images/tajweed_quran/454.jpg",
          "/resources/images/tajweed_quran/455.jpg",
          "/resources/images/tajweed_quran/456.jpg",
          "/resources/images/tajweed_quran/457.jpg",
          "/resources/images/tajweed_quran/458.jpg",
          "/resources/images/tajweed_quran/459.jpg",
          "/resources/images/tajweed_quran/460.jpg",
          "/resources/images/tajweed_quran/461.jpg",
          "/resources/images/tajweed_quran/462.jpg",
          "/resources/images/tajweed_quran/463.jpg",
          "/resources/images/tajweed_quran/464.jpg",
          "/resources/images/tajweed_quran/465.jpg",
          "/resources/images/tajweed_quran/466.jpg",
          "/resources/images/tajweed_quran/467.jpg",
          "/resources/images/tajweed_quran/468.jpg",
          "/resources/images/tajweed_quran/469.jpg",
          "/resources/images/tajweed_quran/470.jpg",
          "/resources/images/tajweed_quran/471.jpg",
          "/resources/images/tajweed_quran/472.jpg",
          "/resources/images/tajweed_quran/473.jpg",
          "/resources/images/tajweed_quran/474.jpg",
          "/resources/images/tajweed_quran/475.jpg",
          "/resources/images/tajweed_quran/476.jpg",
          "/resources/images/tajweed_quran/477.jpg",
          "/resources/images/tajweed_quran/478.jpg",
          "/resources/images/tajweed_quran/479.jpg",
          "/resources/images/tajweed_quran/480.jpg",
          "/resources/images/tajweed_quran/481.jpg",
          "/resources/images/tajweed_quran/482.jpg",
          "/resources/images/tajweed_quran/483.jpg",
          "/resources/images/tajweed_quran/484.jpg",
          "/resources/images/tajweed_quran/485.jpg",
          "/resources/images/tajweed_quran/486.jpg",
          "/resources/images/tajweed_quran/487.jpg",
          "/resources/images/tajweed_quran/488.jpg",
          "/resources/images/tajweed_quran/489.jpg",
          "/resources/images/tajweed_quran/490.jpg",
          "/resources/images/tajweed_quran/491.jpg",
          "/resources/images/tajweed_quran/492.jpg",
          "/resources/images/tajweed_quran/493.jpg",
          "/resources/images/tajweed_quran/494.jpg",
          "/resources/images/tajweed_quran/495.jpg",
          "/resources/images/tajweed_quran/496.jpg",
          "/resources/images/tajweed_quran/497.jpg",
          "/resources/images/tajweed_quran/498.jpg",
          "/resources/images/tajweed_quran/499.jpg",
          "/resources/images/tajweed_quran/500.jpg",
          "/resources/images/tajweed_quran/501.jpg",
          "/resources/images/tajweed_quran/502.jpg",
          "/resources/images/tajweed_quran/503.jpg",
          "/resources/images/tajweed_quran/504.jpg",
          "/resources/images/tajweed_quran/505.jpg",
          "/resources/images/tajweed_quran/506.jpg",
          "/resources/images/tajweed_quran/507.jpg",
          "/resources/images/tajweed_quran/508.jpg",
          "/resources/images/tajweed_quran/509.jpg",
          "/resources/images/tajweed_quran/510.jpg",
          "/resources/images/tajweed_quran/511.jpg",
          "/resources/images/tajweed_quran/512.jpg",
          "/resources/images/tajweed_quran/513.jpg",
          "/resources/images/tajweed_quran/514.jpg",
          "/resources/images/tajweed_quran/515.jpg",
          "/resources/images/tajweed_quran/516.jpg",
          "/resources/images/tajweed_quran/517.jpg",
          "/resources/images/tajweed_quran/518.jpg",
          "/resources/images/tajweed_quran/519.jpg",
          "/resources/images/tajweed_quran/520.jpg",
          "/resources/images/tajweed_quran/521.jpg",
          "/resources/images/tajweed_quran/522.jpg",
          "/resources/images/tajweed_quran/523.jpg",
          "/resources/images/tajweed_quran/524.jpg",
          "/resources/images/tajweed_quran/525.jpg",
          "/resources/images/tajweed_quran/526.jpg",
          "/resources/images/tajweed_quran/527.jpg",
          "/resources/images/tajweed_quran/528.jpg",
          "/resources/images/tajweed_quran/529.jpg",
          "/resources/images/tajweed_quran/530.jpg",
          "/resources/images/tajweed_quran/531.jpg",
          "/resources/images/tajweed_quran/532.jpg",
          "/resources/images/tajweed_quran/533.jpg",
          "/resources/images/tajweed_quran/534.jpg",
          "/resources/images/tajweed_quran/535.jpg",
          "/resources/images/tajweed_quran/536.jpg",
          "/resources/images/tajweed_quran/537.jpg",
          "/resources/images/tajweed_quran/538.jpg",
          "/resources/images/tajweed_quran/539.jpg",
          "/resources/images/tajweed_quran/540.jpg",
          "/resources/images/tajweed_quran/541.jpg",
          "/resources/images/tajweed_quran/542.jpg",
          "/resources/images/tajweed_quran/543.jpg",
          "/resources/images/tajweed_quran/544.jpg",
          "/resources/images/tajweed_quran/545.jpg",
          "/resources/images/tajweed_quran/546.jpg",
          "/resources/images/tajweed_quran/547.jpg",
          "/resources/images/tajweed_quran/548.jpg",
          "/resources/images/tajweed_quran/549.jpg",
          "/resources/images/tajweed_quran/550.jpg",
          "/resources/images/tajweed_quran/551.jpg",
          "/resources/images/tajweed_quran/552.jpg",
          "/resources/images/tajweed_quran/553.jpg",
          "/resources/images/tajweed_quran/554.jpg",
          "/resources/images/tajweed_quran/555.jpg",
          "/resources/images/tajweed_quran/556.jpg",
          "/resources/images/tajweed_quran/557.jpg",
          "/resources/images/tajweed_quran/558.jpg",
          "/resources/images/tajweed_quran/559.jpg",
          "/resources/images/tajweed_quran/560.jpg",
          "/resources/images/tajweed_quran/561.jpg",
          "/resources/images/tajweed_quran/562.jpg",
          "/resources/images/tajweed_quran/563.jpg",
          "/resources/images/tajweed_quran/564.jpg",
          "/resources/images/tajweed_quran/565.jpg",
          "/resources/images/tajweed_quran/566.jpg",
          "/resources/images/tajweed_quran/567.jpg",
          "/resources/images/tajweed_quran/568.jpg",
          "/resources/images/tajweed_quran/569.jpg",
          "/resources/images/tajweed_quran/570.jpg",
          "/resources/images/tajweed_quran/571.jpg",
          "/resources/images/tajweed_quran/572.jpg",
          "/resources/images/tajweed_quran/573.jpg",
          "/resources/images/tajweed_quran/574.jpg",
          "/resources/images/tajweed_quran/575.jpg",
          "/resources/images/tajweed_quran/576.jpg",
          "/resources/images/tajweed_quran/577.jpg",
          "/resources/images/tajweed_quran/578.jpg",
          "/resources/images/tajweed_quran/579.jpg",
          "/resources/images/tajweed_quran/580.jpg",
          "/resources/images/tajweed_quran/581.jpg",
          "/resources/images/tajweed_quran/582.jpg",
          "/resources/images/tajweed_quran/583.jpg",
          "/resources/images/tajweed_quran/584.jpg",
          "/resources/images/tajweed_quran/585.jpg",
          "/resources/images/tajweed_quran/586.jpg",
          "/resources/images/tajweed_quran/587.jpg",
          "/resources/images/tajweed_quran/588.jpg",
          "/resources/images/tajweed_quran/589.jpg",
          "/resources/images/tajweed_quran/590.jpg",
          "/resources/images/tajweed_quran/591.jpg",
          "/resources/images/tajweed_quran/592.jpg",
          "/resources/images/tajweed_quran/593.jpg",
          "/resources/images/tajweed_quran/594.jpg",
          "/resources/images/tajweed_quran/595.jpg",
          "/resources/images/tajweed_quran/596.jpg",
          "/resources/images/tajweed_quran/597.jpg",
          "/resources/images/tajweed_quran/598.jpg",
          "/resources/images/tajweed_quran/599.jpg",
          "/resources/images/tajweed_quran/600.jpg",
          "/resources/images/tajweed_quran/601.jpg",
          "/resources/images/tajweed_quran/602.jpg",
          "/resources/images/tajweed_quran/603.jpg" 
];

        var flipBook = $("#tajweed_quran").flipBook(q_pages, {height: '1200px', cachedPages: 8, scrollWheel: false, duration: 800, backgroundColor: '#eee', direction: DFLIP.DIRECTION.RTL, maxTextureSize: 7680, zoomRatio: 1.2});
    });
</script>