<div style="min-height: 110vh">
    <div id="tajweed_quran_v2" style="min-height:1200px"></div>
</div>

<script>
    $(document).ready(function () {
        var q_pages = [
          "/resources/images/tajweed_quran_v2/000.jpg",
          "/resources/images/tajweed_quran_v2/0.jpg",
          "/resources/images/tajweed_quran_v2/1.jpg",
          "/resources/images/tajweed_quran_v2/2.jpg",
          "/resources/images/tajweed_quran_v2/3.jpg",
          "/resources/images/tajweed_quran_v2/4.jpg",
          "/resources/images/tajweed_quran_v2/5.jpg",
          "/resources/images/tajweed_quran_v2/6.jpg",
          "/resources/images/tajweed_quran_v2/7.jpg",
          "/resources/images/tajweed_quran_v2/8.jpg",
          "/resources/images/tajweed_quran_v2/9.jpg",
          "/resources/images/tajweed_quran_v2/10.jpg",
          "/resources/images/tajweed_quran_v2/11.jpg",
          "/resources/images/tajweed_quran_v2/12.jpg",
          "/resources/images/tajweed_quran_v2/13.jpg",
          "/resources/images/tajweed_quran_v2/14.jpg",
          "/resources/images/tajweed_quran_v2/15.jpg",
          "/resources/images/tajweed_quran_v2/16.jpg",
          "/resources/images/tajweed_quran_v2/17.jpg",
          "/resources/images/tajweed_quran_v2/18.jpg",
          "/resources/images/tajweed_quran_v2/19.jpg",
          "/resources/images/tajweed_quran_v2/20.jpg",
          "/resources/images/tajweed_quran_v2/21.jpg",
          "/resources/images/tajweed_quran_v2/22.jpg",
          "/resources/images/tajweed_quran_v2/23.jpg",
          "/resources/images/tajweed_quran_v2/24.jpg",
          "/resources/images/tajweed_quran_v2/25.jpg",
          "/resources/images/tajweed_quran_v2/26.jpg",
          "/resources/images/tajweed_quran_v2/27.jpg",
          "/resources/images/tajweed_quran_v2/28.jpg",
          "/resources/images/tajweed_quran_v2/29.jpg",
          "/resources/images/tajweed_quran_v2/30.jpg",
          "/resources/images/tajweed_quran_v2/31.jpg",
          "/resources/images/tajweed_quran_v2/32.jpg",
          "/resources/images/tajweed_quran_v2/33.jpg",
          "/resources/images/tajweed_quran_v2/34.jpg",
          "/resources/images/tajweed_quran_v2/35.jpg",
          "/resources/images/tajweed_quran_v2/36.jpg",
          "/resources/images/tajweed_quran_v2/37.jpg",
          "/resources/images/tajweed_quran_v2/38.jpg",
          "/resources/images/tajweed_quran_v2/39.jpg",
          "/resources/images/tajweed_quran_v2/40.jpg",
          "/resources/images/tajweed_quran_v2/41.jpg",
          "/resources/images/tajweed_quran_v2/42.jpg",
          "/resources/images/tajweed_quran_v2/43.jpg",
          "/resources/images/tajweed_quran_v2/44.jpg",
          "/resources/images/tajweed_quran_v2/45.jpg",
          "/resources/images/tajweed_quran_v2/46.jpg",
          "/resources/images/tajweed_quran_v2/47.jpg",
          "/resources/images/tajweed_quran_v2/48.jpg",
          "/resources/images/tajweed_quran_v2/49.jpg",
          "/resources/images/tajweed_quran_v2/50.jpg",
          "/resources/images/tajweed_quran_v2/51.jpg",
          "/resources/images/tajweed_quran_v2/52.jpg",
          "/resources/images/tajweed_quran_v2/53.jpg",
          "/resources/images/tajweed_quran_v2/54.jpg",
          "/resources/images/tajweed_quran_v2/55.jpg",
          "/resources/images/tajweed_quran_v2/56.jpg",
          "/resources/images/tajweed_quran_v2/57.jpg",
          "/resources/images/tajweed_quran_v2/58.jpg",
          "/resources/images/tajweed_quran_v2/59.jpg",
          "/resources/images/tajweed_quran_v2/60.jpg",
          "/resources/images/tajweed_quran_v2/61.jpg",
          "/resources/images/tajweed_quran_v2/62.jpg",
          "/resources/images/tajweed_quran_v2/63.jpg",
          "/resources/images/tajweed_quran_v2/64.jpg",
          "/resources/images/tajweed_quran_v2/65.jpg",
          "/resources/images/tajweed_quran_v2/66.jpg",
          "/resources/images/tajweed_quran_v2/67.jpg",
          "/resources/images/tajweed_quran_v2/68.jpg",
          "/resources/images/tajweed_quran_v2/69.jpg",
          "/resources/images/tajweed_quran_v2/70.jpg",
          "/resources/images/tajweed_quran_v2/71.jpg",
          "/resources/images/tajweed_quran_v2/72.jpg",
          "/resources/images/tajweed_quran_v2/73.jpg",
          "/resources/images/tajweed_quran_v2/74.jpg",
          "/resources/images/tajweed_quran_v2/75.jpg",
          "/resources/images/tajweed_quran_v2/76.jpg",
          "/resources/images/tajweed_quran_v2/77.jpg",
          "/resources/images/tajweed_quran_v2/78.jpg",
          "/resources/images/tajweed_quran_v2/79.jpg",
          "/resources/images/tajweed_quran_v2/80.jpg",
          "/resources/images/tajweed_quran_v2/81.jpg",
          "/resources/images/tajweed_quran_v2/82.jpg",
          "/resources/images/tajweed_quran_v2/83.jpg",
          "/resources/images/tajweed_quran_v2/84.jpg",
          "/resources/images/tajweed_quran_v2/85.jpg",
          "/resources/images/tajweed_quran_v2/86.jpg",
          "/resources/images/tajweed_quran_v2/87.jpg",
          "/resources/images/tajweed_quran_v2/88.jpg",
          "/resources/images/tajweed_quran_v2/89.jpg",
          "/resources/images/tajweed_quran_v2/90.jpg",
          "/resources/images/tajweed_quran_v2/91.jpg",
          "/resources/images/tajweed_quran_v2/92.jpg",
          "/resources/images/tajweed_quran_v2/93.jpg",
          "/resources/images/tajweed_quran_v2/94.jpg",
          "/resources/images/tajweed_quran_v2/95.jpg",
          "/resources/images/tajweed_quran_v2/96.jpg",
          "/resources/images/tajweed_quran_v2/97.jpg",
          "/resources/images/tajweed_quran_v2/98.jpg",
          "/resources/images/tajweed_quran_v2/99.jpg",
          "/resources/images/tajweed_quran_v2/100.jpg",
          "/resources/images/tajweed_quran_v2/101.jpg",
          "/resources/images/tajweed_quran_v2/102.jpg",
          "/resources/images/tajweed_quran_v2/103.jpg",
          "/resources/images/tajweed_quran_v2/104.jpg",
          "/resources/images/tajweed_quran_v2/105.jpg",
          "/resources/images/tajweed_quran_v2/106.jpg",
          "/resources/images/tajweed_quran_v2/107.jpg",
          "/resources/images/tajweed_quran_v2/108.jpg",
          "/resources/images/tajweed_quran_v2/109.jpg",
          "/resources/images/tajweed_quran_v2/110.jpg",
          "/resources/images/tajweed_quran_v2/111.jpg",
          "/resources/images/tajweed_quran_v2/112.jpg",
          "/resources/images/tajweed_quran_v2/113.jpg",
          "/resources/images/tajweed_quran_v2/114.jpg",
          "/resources/images/tajweed_quran_v2/115.jpg",
          "/resources/images/tajweed_quran_v2/116.jpg",
          "/resources/images/tajweed_quran_v2/117.jpg",
          "/resources/images/tajweed_quran_v2/118.jpg",
          "/resources/images/tajweed_quran_v2/119.jpg",
          "/resources/images/tajweed_quran_v2/120.jpg",
          "/resources/images/tajweed_quran_v2/121.jpg",
          "/resources/images/tajweed_quran_v2/122.jpg",
          "/resources/images/tajweed_quran_v2/123.jpg",
          "/resources/images/tajweed_quran_v2/124.jpg",
          "/resources/images/tajweed_quran_v2/125.jpg",
          "/resources/images/tajweed_quran_v2/126.jpg",
          "/resources/images/tajweed_quran_v2/127.jpg",
          "/resources/images/tajweed_quran_v2/128.jpg",
          "/resources/images/tajweed_quran_v2/129.jpg",
          "/resources/images/tajweed_quran_v2/130.jpg",
          "/resources/images/tajweed_quran_v2/131.jpg",
          "/resources/images/tajweed_quran_v2/132.jpg",
          "/resources/images/tajweed_quran_v2/133.jpg",
          "/resources/images/tajweed_quran_v2/134.jpg",
          "/resources/images/tajweed_quran_v2/135.jpg",
          "/resources/images/tajweed_quran_v2/136.jpg",
          "/resources/images/tajweed_quran_v2/137.jpg",
          "/resources/images/tajweed_quran_v2/138.jpg",
          "/resources/images/tajweed_quran_v2/139.jpg",
          "/resources/images/tajweed_quran_v2/140.jpg",
          "/resources/images/tajweed_quran_v2/141.jpg",
          "/resources/images/tajweed_quran_v2/142.jpg",
          "/resources/images/tajweed_quran_v2/143.jpg",
          "/resources/images/tajweed_quran_v2/144.jpg",
          "/resources/images/tajweed_quran_v2/145.jpg",
          "/resources/images/tajweed_quran_v2/146.jpg",
          "/resources/images/tajweed_quran_v2/147.jpg",
          "/resources/images/tajweed_quran_v2/148.jpg",
          "/resources/images/tajweed_quran_v2/149.jpg",
          "/resources/images/tajweed_quran_v2/150.jpg",
          "/resources/images/tajweed_quran_v2/151.jpg",
          "/resources/images/tajweed_quran_v2/152.jpg",
          "/resources/images/tajweed_quran_v2/153.jpg",
          "/resources/images/tajweed_quran_v2/154.jpg",
          "/resources/images/tajweed_quran_v2/155.jpg",
          "/resources/images/tajweed_quran_v2/156.jpg",
          "/resources/images/tajweed_quran_v2/157.jpg",
          "/resources/images/tajweed_quran_v2/158.jpg",
          "/resources/images/tajweed_quran_v2/159.jpg",
          "/resources/images/tajweed_quran_v2/160.jpg",
          "/resources/images/tajweed_quran_v2/161.jpg",
          "/resources/images/tajweed_quran_v2/162.jpg",
          "/resources/images/tajweed_quran_v2/163.jpg",
          "/resources/images/tajweed_quran_v2/164.jpg",
          "/resources/images/tajweed_quran_v2/165.jpg",
          "/resources/images/tajweed_quran_v2/166.jpg",
          "/resources/images/tajweed_quran_v2/167.jpg",
          "/resources/images/tajweed_quran_v2/168.jpg",
          "/resources/images/tajweed_quran_v2/169.jpg",
          "/resources/images/tajweed_quran_v2/170.jpg",
          "/resources/images/tajweed_quran_v2/171.jpg",
          "/resources/images/tajweed_quran_v2/172.jpg",
          "/resources/images/tajweed_quran_v2/173.jpg",
          "/resources/images/tajweed_quran_v2/174.jpg",
          "/resources/images/tajweed_quran_v2/175.jpg",
          "/resources/images/tajweed_quran_v2/176.jpg",
          "/resources/images/tajweed_quran_v2/177.jpg",
          "/resources/images/tajweed_quran_v2/178.jpg",
          "/resources/images/tajweed_quran_v2/179.jpg",
          "/resources/images/tajweed_quran_v2/180.jpg",
          "/resources/images/tajweed_quran_v2/181.jpg",
          "/resources/images/tajweed_quran_v2/182.jpg",
          "/resources/images/tajweed_quran_v2/183.jpg",
          "/resources/images/tajweed_quran_v2/184.jpg",
          "/resources/images/tajweed_quran_v2/185.jpg",
          "/resources/images/tajweed_quran_v2/186.jpg",
          "/resources/images/tajweed_quran_v2/187.jpg",
          "/resources/images/tajweed_quran_v2/188.jpg",
          "/resources/images/tajweed_quran_v2/189.jpg",
          "/resources/images/tajweed_quran_v2/190.jpg",
          "/resources/images/tajweed_quran_v2/191.jpg",
          "/resources/images/tajweed_quran_v2/192.jpg",
          "/resources/images/tajweed_quran_v2/193.jpg",
          "/resources/images/tajweed_quran_v2/194.jpg",
          "/resources/images/tajweed_quran_v2/195.jpg",
          "/resources/images/tajweed_quran_v2/196.jpg",
          "/resources/images/tajweed_quran_v2/197.jpg",
          "/resources/images/tajweed_quran_v2/198.jpg",
          "/resources/images/tajweed_quran_v2/199.jpg",
          "/resources/images/tajweed_quran_v2/200.jpg",
          "/resources/images/tajweed_quran_v2/201.jpg",
          "/resources/images/tajweed_quran_v2/202.jpg",
          "/resources/images/tajweed_quran_v2/203.jpg",
          "/resources/images/tajweed_quran_v2/204.jpg",
          "/resources/images/tajweed_quran_v2/205.jpg",
          "/resources/images/tajweed_quran_v2/206.jpg",
          "/resources/images/tajweed_quran_v2/207.jpg",
          "/resources/images/tajweed_quran_v2/208.jpg",
          "/resources/images/tajweed_quran_v2/209.jpg",
          "/resources/images/tajweed_quran_v2/210.jpg",
          "/resources/images/tajweed_quran_v2/211.jpg",
          "/resources/images/tajweed_quran_v2/212.jpg",
          "/resources/images/tajweed_quran_v2/213.jpg",
          "/resources/images/tajweed_quran_v2/214.jpg",
          "/resources/images/tajweed_quran_v2/215.jpg",
          "/resources/images/tajweed_quran_v2/216.jpg",
          "/resources/images/tajweed_quran_v2/217.jpg",
          "/resources/images/tajweed_quran_v2/218.jpg",
          "/resources/images/tajweed_quran_v2/219.jpg",
          "/resources/images/tajweed_quran_v2/220.jpg",
          "/resources/images/tajweed_quran_v2/221.jpg",
          "/resources/images/tajweed_quran_v2/222.jpg",
          "/resources/images/tajweed_quran_v2/223.jpg",
          "/resources/images/tajweed_quran_v2/224.jpg",
          "/resources/images/tajweed_quran_v2/225.jpg",
          "/resources/images/tajweed_quran_v2/226.jpg",
          "/resources/images/tajweed_quran_v2/227.jpg",
          "/resources/images/tajweed_quran_v2/228.jpg",
          "/resources/images/tajweed_quran_v2/229.jpg",
          "/resources/images/tajweed_quran_v2/230.jpg",
          "/resources/images/tajweed_quran_v2/231.jpg",
          "/resources/images/tajweed_quran_v2/232.jpg",
          "/resources/images/tajweed_quran_v2/233.jpg",
          "/resources/images/tajweed_quran_v2/234.jpg",
          "/resources/images/tajweed_quran_v2/235.jpg",
          "/resources/images/tajweed_quran_v2/236.jpg",
          "/resources/images/tajweed_quran_v2/237.jpg",
          "/resources/images/tajweed_quran_v2/238.jpg",
          "/resources/images/tajweed_quran_v2/239.jpg",
          "/resources/images/tajweed_quran_v2/240.jpg",
          "/resources/images/tajweed_quran_v2/241.jpg",
          "/resources/images/tajweed_quran_v2/242.jpg",
          "/resources/images/tajweed_quran_v2/243.jpg",
          "/resources/images/tajweed_quran_v2/244.jpg",
          "/resources/images/tajweed_quran_v2/245.jpg",
          "/resources/images/tajweed_quran_v2/246.jpg",
          "/resources/images/tajweed_quran_v2/247.jpg",
          "/resources/images/tajweed_quran_v2/248.jpg",
          "/resources/images/tajweed_quran_v2/249.jpg",
          "/resources/images/tajweed_quran_v2/250.jpg",
          "/resources/images/tajweed_quran_v2/251.jpg",
          "/resources/images/tajweed_quran_v2/252.jpg",
          "/resources/images/tajweed_quran_v2/253.jpg",
          "/resources/images/tajweed_quran_v2/254.jpg",
          "/resources/images/tajweed_quran_v2/255.jpg",
          "/resources/images/tajweed_quran_v2/256.jpg",
          "/resources/images/tajweed_quran_v2/257.jpg",
          "/resources/images/tajweed_quran_v2/258.jpg",
          "/resources/images/tajweed_quran_v2/259.jpg",
          "/resources/images/tajweed_quran_v2/260.jpg",
          "/resources/images/tajweed_quran_v2/261.jpg",
          "/resources/images/tajweed_quran_v2/262.jpg",
          "/resources/images/tajweed_quran_v2/263.jpg",
          "/resources/images/tajweed_quran_v2/264.jpg",
          "/resources/images/tajweed_quran_v2/265.jpg",
          "/resources/images/tajweed_quran_v2/266.jpg",
          "/resources/images/tajweed_quran_v2/267.jpg",
          "/resources/images/tajweed_quran_v2/268.jpg",
          "/resources/images/tajweed_quran_v2/269.jpg",
          "/resources/images/tajweed_quran_v2/270.jpg",
          "/resources/images/tajweed_quran_v2/271.jpg",
          "/resources/images/tajweed_quran_v2/272.jpg",
          "/resources/images/tajweed_quran_v2/273.jpg",
          "/resources/images/tajweed_quran_v2/274.jpg",
          "/resources/images/tajweed_quran_v2/275.jpg",
          "/resources/images/tajweed_quran_v2/276.jpg",
          "/resources/images/tajweed_quran_v2/277.jpg",
          "/resources/images/tajweed_quran_v2/278.jpg",
          "/resources/images/tajweed_quran_v2/279.jpg",
          "/resources/images/tajweed_quran_v2/280.jpg",
          "/resources/images/tajweed_quran_v2/281.jpg",
          "/resources/images/tajweed_quran_v2/282.jpg",
          "/resources/images/tajweed_quran_v2/283.jpg",
          "/resources/images/tajweed_quran_v2/284.jpg",
          "/resources/images/tajweed_quran_v2/285.jpg",
          "/resources/images/tajweed_quran_v2/286.jpg",
          "/resources/images/tajweed_quran_v2/287.jpg",
          "/resources/images/tajweed_quran_v2/288.jpg",
          "/resources/images/tajweed_quran_v2/289.jpg",
          "/resources/images/tajweed_quran_v2/290.jpg",
          "/resources/images/tajweed_quran_v2/291.jpg",
          "/resources/images/tajweed_quran_v2/292.jpg",
          "/resources/images/tajweed_quran_v2/293.jpg",
          "/resources/images/tajweed_quran_v2/294.jpg",
          "/resources/images/tajweed_quran_v2/295.jpg",
          "/resources/images/tajweed_quran_v2/296.jpg",
          "/resources/images/tajweed_quran_v2/297.jpg",
          "/resources/images/tajweed_quran_v2/298.jpg",
          "/resources/images/tajweed_quran_v2/299.jpg",
          "/resources/images/tajweed_quran_v2/300.jpg",
          "/resources/images/tajweed_quran_v2/301.jpg",
          "/resources/images/tajweed_quran_v2/302.jpg",
          "/resources/images/tajweed_quran_v2/303.jpg",
          "/resources/images/tajweed_quran_v2/304.jpg",
          "/resources/images/tajweed_quran_v2/305.jpg",
          "/resources/images/tajweed_quran_v2/306.jpg",
          "/resources/images/tajweed_quran_v2/307.jpg",
          "/resources/images/tajweed_quran_v2/308.jpg",
          "/resources/images/tajweed_quran_v2/309.jpg",
          "/resources/images/tajweed_quran_v2/310.jpg",
          "/resources/images/tajweed_quran_v2/311.jpg",
          "/resources/images/tajweed_quran_v2/312.jpg",
          "/resources/images/tajweed_quran_v2/313.jpg",
          "/resources/images/tajweed_quran_v2/314.jpg",
          "/resources/images/tajweed_quran_v2/315.jpg",
          "/resources/images/tajweed_quran_v2/316.jpg",
          "/resources/images/tajweed_quran_v2/317.jpg",
          "/resources/images/tajweed_quran_v2/318.jpg",
          "/resources/images/tajweed_quran_v2/319.jpg",
          "/resources/images/tajweed_quran_v2/320.jpg",
          "/resources/images/tajweed_quran_v2/321.jpg",
          "/resources/images/tajweed_quran_v2/322.jpg",
          "/resources/images/tajweed_quran_v2/323.jpg",
          "/resources/images/tajweed_quran_v2/324.jpg",
          "/resources/images/tajweed_quran_v2/325.jpg",
          "/resources/images/tajweed_quran_v2/326.jpg",
          "/resources/images/tajweed_quran_v2/327.jpg",
          "/resources/images/tajweed_quran_v2/328.jpg",
          "/resources/images/tajweed_quran_v2/329.jpg",
          "/resources/images/tajweed_quran_v2/330.jpg",
          "/resources/images/tajweed_quran_v2/331.jpg",
          "/resources/images/tajweed_quran_v2/332.jpg",
          "/resources/images/tajweed_quran_v2/333.jpg",
          "/resources/images/tajweed_quran_v2/334.jpg",
          "/resources/images/tajweed_quran_v2/335.jpg",
          "/resources/images/tajweed_quran_v2/336.jpg",
          "/resources/images/tajweed_quran_v2/337.jpg",
          "/resources/images/tajweed_quran_v2/338.jpg",
          "/resources/images/tajweed_quran_v2/339.jpg",
          "/resources/images/tajweed_quran_v2/340.jpg",
          "/resources/images/tajweed_quran_v2/341.jpg",
          "/resources/images/tajweed_quran_v2/342.jpg",
          "/resources/images/tajweed_quran_v2/343.jpg",
          "/resources/images/tajweed_quran_v2/344.jpg",
          "/resources/images/tajweed_quran_v2/345.jpg",
          "/resources/images/tajweed_quran_v2/346.jpg",
          "/resources/images/tajweed_quran_v2/347.jpg",
          "/resources/images/tajweed_quran_v2/348.jpg",
          "/resources/images/tajweed_quran_v2/349.jpg",
          "/resources/images/tajweed_quran_v2/350.jpg",
          "/resources/images/tajweed_quran_v2/351.jpg",
          "/resources/images/tajweed_quran_v2/352.jpg",
          "/resources/images/tajweed_quran_v2/353.jpg",
          "/resources/images/tajweed_quran_v2/354.jpg",
          "/resources/images/tajweed_quran_v2/355.jpg",
          "/resources/images/tajweed_quran_v2/356.jpg",
          "/resources/images/tajweed_quran_v2/357.jpg",
          "/resources/images/tajweed_quran_v2/358.jpg",
          "/resources/images/tajweed_quran_v2/359.jpg",
          "/resources/images/tajweed_quran_v2/360.jpg",
          "/resources/images/tajweed_quran_v2/361.jpg",
          "/resources/images/tajweed_quran_v2/362.jpg",
          "/resources/images/tajweed_quran_v2/363.jpg",
          "/resources/images/tajweed_quran_v2/364.jpg",
          "/resources/images/tajweed_quran_v2/365.jpg",
          "/resources/images/tajweed_quran_v2/366.jpg",
          "/resources/images/tajweed_quran_v2/367.jpg",
          "/resources/images/tajweed_quran_v2/368.jpg",
          "/resources/images/tajweed_quran_v2/369.jpg",
          "/resources/images/tajweed_quran_v2/370.jpg",
          "/resources/images/tajweed_quran_v2/371.jpg",
          "/resources/images/tajweed_quran_v2/372.jpg",
          "/resources/images/tajweed_quran_v2/373.jpg",
          "/resources/images/tajweed_quran_v2/374.jpg",
          "/resources/images/tajweed_quran_v2/375.jpg",
          "/resources/images/tajweed_quran_v2/376.jpg",
          "/resources/images/tajweed_quran_v2/377.jpg",
          "/resources/images/tajweed_quran_v2/378.jpg",
          "/resources/images/tajweed_quran_v2/379.jpg",
          "/resources/images/tajweed_quran_v2/380.jpg",
          "/resources/images/tajweed_quran_v2/381.jpg",
          "/resources/images/tajweed_quran_v2/382.jpg",
          "/resources/images/tajweed_quran_v2/383.jpg",
          "/resources/images/tajweed_quran_v2/384.jpg",
          "/resources/images/tajweed_quran_v2/385.jpg",
          "/resources/images/tajweed_quran_v2/386.jpg",
          "/resources/images/tajweed_quran_v2/387.jpg",
          "/resources/images/tajweed_quran_v2/388.jpg",
          "/resources/images/tajweed_quran_v2/389.jpg",
          "/resources/images/tajweed_quran_v2/390.jpg",
          "/resources/images/tajweed_quran_v2/391.jpg",
          "/resources/images/tajweed_quran_v2/392.jpg",
          "/resources/images/tajweed_quran_v2/393.jpg",
          "/resources/images/tajweed_quran_v2/394.jpg",
          "/resources/images/tajweed_quran_v2/395.jpg",
          "/resources/images/tajweed_quran_v2/396.jpg",
          "/resources/images/tajweed_quran_v2/397.jpg",
          "/resources/images/tajweed_quran_v2/398.jpg",
          "/resources/images/tajweed_quran_v2/399.jpg",
          "/resources/images/tajweed_quran_v2/400.jpg",
          "/resources/images/tajweed_quran_v2/401.jpg",
          "/resources/images/tajweed_quran_v2/402.jpg",
          "/resources/images/tajweed_quran_v2/403.jpg",
          "/resources/images/tajweed_quran_v2/404.jpg",
          "/resources/images/tajweed_quran_v2/405.jpg",
          "/resources/images/tajweed_quran_v2/406.jpg",
          "/resources/images/tajweed_quran_v2/407.jpg",
          "/resources/images/tajweed_quran_v2/408.jpg",
          "/resources/images/tajweed_quran_v2/409.jpg",
          "/resources/images/tajweed_quran_v2/410.jpg",
          "/resources/images/tajweed_quran_v2/411.jpg",
          "/resources/images/tajweed_quran_v2/412.jpg",
          "/resources/images/tajweed_quran_v2/413.jpg",
          "/resources/images/tajweed_quran_v2/414.jpg",
          "/resources/images/tajweed_quran_v2/415.jpg",
          "/resources/images/tajweed_quran_v2/416.jpg",
          "/resources/images/tajweed_quran_v2/417.jpg",
          "/resources/images/tajweed_quran_v2/418.jpg",
          "/resources/images/tajweed_quran_v2/419.jpg",
          "/resources/images/tajweed_quran_v2/420.jpg",
          "/resources/images/tajweed_quran_v2/421.jpg",
          "/resources/images/tajweed_quran_v2/422.jpg",
          "/resources/images/tajweed_quran_v2/423.jpg",
          "/resources/images/tajweed_quran_v2/424.jpg",
          "/resources/images/tajweed_quran_v2/425.jpg",
          "/resources/images/tajweed_quran_v2/426.jpg",
          "/resources/images/tajweed_quran_v2/427.jpg",
          "/resources/images/tajweed_quran_v2/428.jpg",
          "/resources/images/tajweed_quran_v2/429.jpg",
          "/resources/images/tajweed_quran_v2/430.jpg",
          "/resources/images/tajweed_quran_v2/431.jpg",
          "/resources/images/tajweed_quran_v2/432.jpg",
          "/resources/images/tajweed_quran_v2/433.jpg",
          "/resources/images/tajweed_quran_v2/434.jpg",
          "/resources/images/tajweed_quran_v2/435.jpg",
          "/resources/images/tajweed_quran_v2/436.jpg",
          "/resources/images/tajweed_quran_v2/437.jpg",
          "/resources/images/tajweed_quran_v2/438.jpg",
          "/resources/images/tajweed_quran_v2/439.jpg",
          "/resources/images/tajweed_quran_v2/440.jpg",
          "/resources/images/tajweed_quran_v2/441.jpg",
          "/resources/images/tajweed_quran_v2/442.jpg",
          "/resources/images/tajweed_quran_v2/443.jpg",
          "/resources/images/tajweed_quran_v2/444.jpg",
          "/resources/images/tajweed_quran_v2/445.jpg",
          "/resources/images/tajweed_quran_v2/446.jpg",
          "/resources/images/tajweed_quran_v2/447.jpg",
          "/resources/images/tajweed_quran_v2/448.jpg",
          "/resources/images/tajweed_quran_v2/449.jpg",
          "/resources/images/tajweed_quran_v2/450.jpg",
          "/resources/images/tajweed_quran_v2/451.jpg",
          "/resources/images/tajweed_quran_v2/452.jpg",
          "/resources/images/tajweed_quran_v2/453.jpg",
          "/resources/images/tajweed_quran_v2/454.jpg",
          "/resources/images/tajweed_quran_v2/455.jpg",
          "/resources/images/tajweed_quran_v2/456.jpg",
          "/resources/images/tajweed_quran_v2/457.jpg",
          "/resources/images/tajweed_quran_v2/458.jpg",
          "/resources/images/tajweed_quran_v2/459.jpg",
          "/resources/images/tajweed_quran_v2/460.jpg",
          "/resources/images/tajweed_quran_v2/461.jpg",
          "/resources/images/tajweed_quran_v2/462.jpg",
          "/resources/images/tajweed_quran_v2/463.jpg",
          "/resources/images/tajweed_quran_v2/464.jpg",
          "/resources/images/tajweed_quran_v2/465.jpg",
          "/resources/images/tajweed_quran_v2/466.jpg",
          "/resources/images/tajweed_quran_v2/467.jpg",
          "/resources/images/tajweed_quran_v2/468.jpg",
          "/resources/images/tajweed_quran_v2/469.jpg",
          "/resources/images/tajweed_quran_v2/470.jpg",
          "/resources/images/tajweed_quran_v2/471.jpg",
          "/resources/images/tajweed_quran_v2/472.jpg",
          "/resources/images/tajweed_quran_v2/473.jpg",
          "/resources/images/tajweed_quran_v2/474.jpg",
          "/resources/images/tajweed_quran_v2/475.jpg",
          "/resources/images/tajweed_quran_v2/476.jpg",
          "/resources/images/tajweed_quran_v2/477.jpg",
          "/resources/images/tajweed_quran_v2/478.jpg",
          "/resources/images/tajweed_quran_v2/479.jpg",
          "/resources/images/tajweed_quran_v2/480.jpg",
          "/resources/images/tajweed_quran_v2/481.jpg",
          "/resources/images/tajweed_quran_v2/482.jpg",
          "/resources/images/tajweed_quran_v2/483.jpg",
          "/resources/images/tajweed_quran_v2/484.jpg",
          "/resources/images/tajweed_quran_v2/485.jpg",
          "/resources/images/tajweed_quran_v2/486.jpg",
          "/resources/images/tajweed_quran_v2/487.jpg",
          "/resources/images/tajweed_quran_v2/488.jpg",
          "/resources/images/tajweed_quran_v2/489.jpg",
          "/resources/images/tajweed_quran_v2/490.jpg",
          "/resources/images/tajweed_quran_v2/491.jpg",
          "/resources/images/tajweed_quran_v2/492.jpg",
          "/resources/images/tajweed_quran_v2/493.jpg",
          "/resources/images/tajweed_quran_v2/494.jpg",
          "/resources/images/tajweed_quran_v2/495.jpg",
          "/resources/images/tajweed_quran_v2/496.jpg",
          "/resources/images/tajweed_quran_v2/497.jpg",
          "/resources/images/tajweed_quran_v2/498.jpg",
          "/resources/images/tajweed_quran_v2/499.jpg",
          "/resources/images/tajweed_quran_v2/500.jpg",
          "/resources/images/tajweed_quran_v2/501.jpg",
          "/resources/images/tajweed_quran_v2/502.jpg",
          "/resources/images/tajweed_quran_v2/503.jpg",
          "/resources/images/tajweed_quran_v2/504.jpg",
          "/resources/images/tajweed_quran_v2/505.jpg",
          "/resources/images/tajweed_quran_v2/506.jpg",
          "/resources/images/tajweed_quran_v2/507.jpg",
          "/resources/images/tajweed_quran_v2/508.jpg",
          "/resources/images/tajweed_quran_v2/509.jpg",
          "/resources/images/tajweed_quran_v2/510.jpg",
          "/resources/images/tajweed_quran_v2/511.jpg",
          "/resources/images/tajweed_quran_v2/512.jpg",
          "/resources/images/tajweed_quran_v2/513.jpg",
          "/resources/images/tajweed_quran_v2/514.jpg",
          "/resources/images/tajweed_quran_v2/515.jpg",
          "/resources/images/tajweed_quran_v2/516.jpg",
          "/resources/images/tajweed_quran_v2/517.jpg",
          "/resources/images/tajweed_quran_v2/518.jpg",
          "/resources/images/tajweed_quran_v2/519.jpg",
          "/resources/images/tajweed_quran_v2/520.jpg",
          "/resources/images/tajweed_quran_v2/521.jpg",
          "/resources/images/tajweed_quran_v2/522.jpg",
          "/resources/images/tajweed_quran_v2/523.jpg",
          "/resources/images/tajweed_quran_v2/524.jpg",
          "/resources/images/tajweed_quran_v2/525.jpg",
          "/resources/images/tajweed_quran_v2/526.jpg",
          "/resources/images/tajweed_quran_v2/527.jpg",
          "/resources/images/tajweed_quran_v2/528.jpg",
          "/resources/images/tajweed_quran_v2/529.jpg",
          "/resources/images/tajweed_quran_v2/530.jpg",
          "/resources/images/tajweed_quran_v2/531.jpg",
          "/resources/images/tajweed_quran_v2/532.jpg",
          "/resources/images/tajweed_quran_v2/533.jpg",
          "/resources/images/tajweed_quran_v2/534.jpg",
          "/resources/images/tajweed_quran_v2/535.jpg",
          "/resources/images/tajweed_quran_v2/536.jpg",
          "/resources/images/tajweed_quran_v2/537.jpg",
          "/resources/images/tajweed_quran_v2/538.jpg",
          "/resources/images/tajweed_quran_v2/539.jpg",
          "/resources/images/tajweed_quran_v2/540.jpg",
          "/resources/images/tajweed_quran_v2/541.jpg",
          "/resources/images/tajweed_quran_v2/542.jpg",
          "/resources/images/tajweed_quran_v2/543.jpg",
          "/resources/images/tajweed_quran_v2/544.jpg",
          "/resources/images/tajweed_quran_v2/545.jpg",
          "/resources/images/tajweed_quran_v2/546.jpg",
          "/resources/images/tajweed_quran_v2/547.jpg",
          "/resources/images/tajweed_quran_v2/548.jpg",
          "/resources/images/tajweed_quran_v2/549.jpg",
          "/resources/images/tajweed_quran_v2/550.jpg",
          "/resources/images/tajweed_quran_v2/551.jpg",
          "/resources/images/tajweed_quran_v2/552.jpg",
          "/resources/images/tajweed_quran_v2/553.jpg",
          "/resources/images/tajweed_quran_v2/554.jpg",
          "/resources/images/tajweed_quran_v2/555.jpg",
          "/resources/images/tajweed_quran_v2/556.jpg",
          "/resources/images/tajweed_quran_v2/557.jpg",
          "/resources/images/tajweed_quran_v2/558.jpg",
          "/resources/images/tajweed_quran_v2/559.jpg",
          "/resources/images/tajweed_quran_v2/560.jpg",
          "/resources/images/tajweed_quran_v2/561.jpg",
          "/resources/images/tajweed_quran_v2/562.jpg",
          "/resources/images/tajweed_quran_v2/563.jpg",
          "/resources/images/tajweed_quran_v2/564.jpg",
          "/resources/images/tajweed_quran_v2/565.jpg",
          "/resources/images/tajweed_quran_v2/566.jpg",
          "/resources/images/tajweed_quran_v2/567.jpg",
          "/resources/images/tajweed_quran_v2/568.jpg",
          "/resources/images/tajweed_quran_v2/569.jpg",
          "/resources/images/tajweed_quran_v2/570.jpg",
          "/resources/images/tajweed_quran_v2/571.jpg",
          "/resources/images/tajweed_quran_v2/572.jpg",
          "/resources/images/tajweed_quran_v2/573.jpg",
          "/resources/images/tajweed_quran_v2/574.jpg",
          "/resources/images/tajweed_quran_v2/575.jpg",
          "/resources/images/tajweed_quran_v2/576.jpg",
          "/resources/images/tajweed_quran_v2/577.jpg",
          "/resources/images/tajweed_quran_v2/578.jpg",
          "/resources/images/tajweed_quran_v2/579.jpg",
          "/resources/images/tajweed_quran_v2/580.jpg",
          "/resources/images/tajweed_quran_v2/581.jpg",
          "/resources/images/tajweed_quran_v2/582.jpg",
          "/resources/images/tajweed_quran_v2/583.jpg",
          "/resources/images/tajweed_quran_v2/584.jpg",
          "/resources/images/tajweed_quran_v2/585.jpg",
          "/resources/images/tajweed_quran_v2/586.jpg",
          "/resources/images/tajweed_quran_v2/587.jpg",
          "/resources/images/tajweed_quran_v2/588.jpg",
          "/resources/images/tajweed_quran_v2/589.jpg",
          "/resources/images/tajweed_quran_v2/590.jpg",
          "/resources/images/tajweed_quran_v2/591.jpg",
          "/resources/images/tajweed_quran_v2/592.jpg",
          "/resources/images/tajweed_quran_v2/593.jpg",
          "/resources/images/tajweed_quran_v2/594.jpg",
          "/resources/images/tajweed_quran_v2/595.jpg",
          "/resources/images/tajweed_quran_v2/596.jpg",
          "/resources/images/tajweed_quran_v2/597.jpg",
          "/resources/images/tajweed_quran_v2/598.jpg",
          "/resources/images/tajweed_quran_v2/599.jpg",
          "/resources/images/tajweed_quran_v2/600.jpg",
          "/resources/images/tajweed_quran_v2/601.jpg",
          "/resources/images/tajweed_quran_v2/602.jpg",
          "/resources/images/tajweed_quran_v2/603.jpg" 
];

        var flipBook = $("#tajweed_quran_v2").flipBook(q_pages, {height: '1200px', cachedPages: 8, scrollWheel: false, duration: 800, backgroundColor: '#eee', direction: DFLIP.DIRECTION.RTL, maxTextureSize: 7680, zoomRatio: 1.2});
    });
</script>