<div style="min-height: 110vh">
    <div id="ashraf_ali_thanvi2" style="min-height:1200px"></div>
</div>

<script>
    $(document).ready(function () {
        var q_pages = [
        "/resources/images/tajweed_quran_v2/000.jpg",
        "/resources/images/ashraf_ali_thanvi/p0.jpg",
        "/resources/images/ashraf_ali_thanvi/000.jpg",
        "/resources/images/ashraf_ali_thanvi/qp01-01.png",
        "/resources/images/ashraf_ali_thanvi/qp01-02.png",
        "/resources/images/ashraf_ali_thanvi/qp01-03.png",
        "/resources/images/ashraf_ali_thanvi/qp01-04.png",
        "/resources/images/ashraf_ali_thanvi/qp01-05.png",
        "/resources/images/ashraf_ali_thanvi/qp01-06.png",
        "/resources/images/ashraf_ali_thanvi/qp01-07.png",
        "/resources/images/ashraf_ali_thanvi/qp01-08.png",
        "/resources/images/ashraf_ali_thanvi/qp01-09.png",
        "/resources/images/ashraf_ali_thanvi/qp01-10.png",
        "/resources/images/ashraf_ali_thanvi/qp01-11.png",
        "/resources/images/ashraf_ali_thanvi/qp01-12.png",
        "/resources/images/ashraf_ali_thanvi/qp01-13.png",
        "/resources/images/ashraf_ali_thanvi/qp01-14.png",
        "/resources/images/ashraf_ali_thanvi/qp01-15.png",
        "/resources/images/ashraf_ali_thanvi/qp01-16.png",
        "/resources/images/ashraf_ali_thanvi/qp01-17.png",
        "/resources/images/ashraf_ali_thanvi/qp01-18.png",
        "/resources/images/ashraf_ali_thanvi/qp01-19.png",
        "/resources/images/ashraf_ali_thanvi/qp01-20.png",
        "/resources/images/ashraf_ali_thanvi/qp01-21.png",
        "/resources/images/ashraf_ali_thanvi/qp01-22.png",
        "/resources/images/ashraf_ali_thanvi/qp01-23.png",
        "/resources/images/ashraf_ali_thanvi/qp01-24.png",
        "/resources/images/ashraf_ali_thanvi/qp01-25.png",
        "/resources/images/ashraf_ali_thanvi/qp01-26.png",
        "/resources/images/ashraf_ali_thanvi/qp01-27.png",
        "/resources/images/ashraf_ali_thanvi/qp01-28.png",
        "/resources/images/ashraf_ali_thanvi/qp01-29.png",
        "/resources/images/ashraf_ali_thanvi/qp01-30.png",
        "/resources/images/ashraf_ali_thanvi/qp01-31.png",
        "/resources/images/ashraf_ali_thanvi/qp02-01.png",
        "/resources/images/ashraf_ali_thanvi/qp02-02.png",
        "/resources/images/ashraf_ali_thanvi/qp02-03.png",
        "/resources/images/ashraf_ali_thanvi/qp02-04.png",
        "/resources/images/ashraf_ali_thanvi/qp02-05.png",
        "/resources/images/ashraf_ali_thanvi/qp02-06.png",
        "/resources/images/ashraf_ali_thanvi/qp02-07.png",
        "/resources/images/ashraf_ali_thanvi/qp02-08.png",
        "/resources/images/ashraf_ali_thanvi/qp02-09.png",
        "/resources/images/ashraf_ali_thanvi/qp02-10.png",
        "/resources/images/ashraf_ali_thanvi/qp02-11.png",
        "/resources/images/ashraf_ali_thanvi/qp02-12.png",
        "/resources/images/ashraf_ali_thanvi/qp02-13.png",
        "/resources/images/ashraf_ali_thanvi/qp02-14.png",
        "/resources/images/ashraf_ali_thanvi/qp02-15.png",
        "/resources/images/ashraf_ali_thanvi/qp02-16.png",
        "/resources/images/ashraf_ali_thanvi/qp02-17.png",
        "/resources/images/ashraf_ali_thanvi/qp02-18.png",
        "/resources/images/ashraf_ali_thanvi/qp02-19.png",
        "/resources/images/ashraf_ali_thanvi/qp02-20.png",
        "/resources/images/ashraf_ali_thanvi/qp02-21.png",
        "/resources/images/ashraf_ali_thanvi/qp02-22.png",
        "/resources/images/ashraf_ali_thanvi/qp02-23.png",
        "/resources/images/ashraf_ali_thanvi/qp02-24.png",
        "/resources/images/ashraf_ali_thanvi/qp02-25.png",
        "/resources/images/ashraf_ali_thanvi/qp02-26.png",
        "/resources/images/ashraf_ali_thanvi/qp02-27.png",
        "/resources/images/ashraf_ali_thanvi/qp02-28.png",
        "/resources/images/ashraf_ali_thanvi/qp02-29.png",
        "/resources/images/ashraf_ali_thanvi/qp02-30.png",
        "/resources/images/ashraf_ali_thanvi/qp02-31.png",
        "/resources/images/ashraf_ali_thanvi/qp03-01.png",
        "/resources/images/ashraf_ali_thanvi/qp03-02.png",
        "/resources/images/ashraf_ali_thanvi/qp03-03.png",
        "/resources/images/ashraf_ali_thanvi/qp03-04.png",
        "/resources/images/ashraf_ali_thanvi/qp03-05.png",
        "/resources/images/ashraf_ali_thanvi/qp03-06.png",
        "/resources/images/ashraf_ali_thanvi/qp03-07.png",
        "/resources/images/ashraf_ali_thanvi/qp03-08.png",
        "/resources/images/ashraf_ali_thanvi/qp03-09.png",
        "/resources/images/ashraf_ali_thanvi/qp03-10.png",
        "/resources/images/ashraf_ali_thanvi/qp03-11.png",
        "/resources/images/ashraf_ali_thanvi/qp03-12.png",
        "/resources/images/ashraf_ali_thanvi/qp03-13.png",
        "/resources/images/ashraf_ali_thanvi/qp03-14.png",
        "/resources/images/ashraf_ali_thanvi/qp03-15.png",
        "/resources/images/ashraf_ali_thanvi/qp03-16.png",
        "/resources/images/ashraf_ali_thanvi/qp03-17.png",
        "/resources/images/ashraf_ali_thanvi/qp03-18.png",
        "/resources/images/ashraf_ali_thanvi/qp03-19.png",
        "/resources/images/ashraf_ali_thanvi/qp03-20.png",
        "/resources/images/ashraf_ali_thanvi/qp03-21.png",
        "/resources/images/ashraf_ali_thanvi/qp03-22.png",
        "/resources/images/ashraf_ali_thanvi/qp03-23.png",
        "/resources/images/ashraf_ali_thanvi/qp03-24.png",
        "/resources/images/ashraf_ali_thanvi/qp03-25.png",
        "/resources/images/ashraf_ali_thanvi/qp03-26.png",
        "/resources/images/ashraf_ali_thanvi/qp03-27.png",
        "/resources/images/ashraf_ali_thanvi/qp03-28.png",
        "/resources/images/ashraf_ali_thanvi/qp03-29.png",
        "/resources/images/ashraf_ali_thanvi/qp03-30.png",
        "/resources/images/ashraf_ali_thanvi/qp04-01.png",
        "/resources/images/ashraf_ali_thanvi/qp04-02.png",
        "/resources/images/ashraf_ali_thanvi/qp04-03.png",
        "/resources/images/ashraf_ali_thanvi/qp04-04.png",
        "/resources/images/ashraf_ali_thanvi/qp04-05.png",
        "/resources/images/ashraf_ali_thanvi/qp04-06.png",
        "/resources/images/ashraf_ali_thanvi/qp04-07.png",
        "/resources/images/ashraf_ali_thanvi/qp04-08.png",
        "/resources/images/ashraf_ali_thanvi/qp04-09.png",
        "/resources/images/ashraf_ali_thanvi/qp04-10.png",
        "/resources/images/ashraf_ali_thanvi/qp04-11.png",
        "/resources/images/ashraf_ali_thanvi/qp04-12.png",
        "/resources/images/ashraf_ali_thanvi/qp04-13.png",
        "/resources/images/ashraf_ali_thanvi/qp04-14.png",
        "/resources/images/ashraf_ali_thanvi/qp04-15.png",
        "/resources/images/ashraf_ali_thanvi/qp04-16.png",
        "/resources/images/ashraf_ali_thanvi/qp04-17.png",
        "/resources/images/ashraf_ali_thanvi/qp04-18.png",
        "/resources/images/ashraf_ali_thanvi/qp04-19.png",
        "/resources/images/ashraf_ali_thanvi/qp04-20.png",
        "/resources/images/ashraf_ali_thanvi/qp04-21.png",
        "/resources/images/ashraf_ali_thanvi/qp04-22.png",
        "/resources/images/ashraf_ali_thanvi/qp04-23.png",
        "/resources/images/ashraf_ali_thanvi/qp04-24.png",
        "/resources/images/ashraf_ali_thanvi/qp04-25.png",
        "/resources/images/ashraf_ali_thanvi/qp04-26.png",
        "/resources/images/ashraf_ali_thanvi/qp04-27.png",
        "/resources/images/ashraf_ali_thanvi/qp04-28.png",
        "/resources/images/ashraf_ali_thanvi/qp04-29.png",
        "/resources/images/ashraf_ali_thanvi/qp04-30.png",
        "/resources/images/ashraf_ali_thanvi/qp05-01.png",
        "/resources/images/ashraf_ali_thanvi/qp05-02.png",
        "/resources/images/ashraf_ali_thanvi/qp05-03.png",
        "/resources/images/ashraf_ali_thanvi/qp05-04.png",
        "/resources/images/ashraf_ali_thanvi/qp05-05.png",
        "/resources/images/ashraf_ali_thanvi/qp05-06.png",
        "/resources/images/ashraf_ali_thanvi/qp05-07.png",
        "/resources/images/ashraf_ali_thanvi/qp05-08.png",
        "/resources/images/ashraf_ali_thanvi/qp05-09.png",
        "/resources/images/ashraf_ali_thanvi/qp05-10.png",
        "/resources/images/ashraf_ali_thanvi/qp05-11.png",
        "/resources/images/ashraf_ali_thanvi/qp05-12.png",
        "/resources/images/ashraf_ali_thanvi/qp05-13.png",
        "/resources/images/ashraf_ali_thanvi/qp05-14.png",
        "/resources/images/ashraf_ali_thanvi/qp05-15.png",
        "/resources/images/ashraf_ali_thanvi/qp05-16.png",
        "/resources/images/ashraf_ali_thanvi/qp05-17.png",
        "/resources/images/ashraf_ali_thanvi/qp05-18.png",
        "/resources/images/ashraf_ali_thanvi/qp05-19.png",
        "/resources/images/ashraf_ali_thanvi/qp05-20.png",
        "/resources/images/ashraf_ali_thanvi/qp05-21.png",
        "/resources/images/ashraf_ali_thanvi/qp05-22.png",
        "/resources/images/ashraf_ali_thanvi/qp05-23.png",
        "/resources/images/ashraf_ali_thanvi/qp05-24.png",
        "/resources/images/ashraf_ali_thanvi/qp05-25.png",
        "/resources/images/ashraf_ali_thanvi/qp05-26.png",
        "/resources/images/ashraf_ali_thanvi/qp05-27.png",
        "/resources/images/ashraf_ali_thanvi/qp05-28.png",
        "/resources/images/ashraf_ali_thanvi/qp05-29.png",
        "/resources/images/ashraf_ali_thanvi/qp05-30.png",
        "/resources/images/ashraf_ali_thanvi/qp06-01.png",
        "/resources/images/ashraf_ali_thanvi/qp06-02.png",
        "/resources/images/ashraf_ali_thanvi/qp06-03.png",
        "/resources/images/ashraf_ali_thanvi/qp06-04.png",
        "/resources/images/ashraf_ali_thanvi/qp06-05.png",
        "/resources/images/ashraf_ali_thanvi/qp06-06.png",
        "/resources/images/ashraf_ali_thanvi/qp06-07.png",
        "/resources/images/ashraf_ali_thanvi/qp06-08.png",
        "/resources/images/ashraf_ali_thanvi/qp06-09.png",
        "/resources/images/ashraf_ali_thanvi/qp06-10.png",
        "/resources/images/ashraf_ali_thanvi/qp06-11.png",
        "/resources/images/ashraf_ali_thanvi/qp06-12.png",
        "/resources/images/ashraf_ali_thanvi/qp06-13.png",
        "/resources/images/ashraf_ali_thanvi/qp06-14.png",
        "/resources/images/ashraf_ali_thanvi/qp06-15.png",
        "/resources/images/ashraf_ali_thanvi/qp06-16.png",
        "/resources/images/ashraf_ali_thanvi/qp06-17.png",
        "/resources/images/ashraf_ali_thanvi/qp06-18.png",
        "/resources/images/ashraf_ali_thanvi/qp06-19.png",
        "/resources/images/ashraf_ali_thanvi/qp06-20.png",
        "/resources/images/ashraf_ali_thanvi/qp06-21.png",
        "/resources/images/ashraf_ali_thanvi/qp06-22.png",
        "/resources/images/ashraf_ali_thanvi/qp06-23.png",
        "/resources/images/ashraf_ali_thanvi/qp06-24.png",
        "/resources/images/ashraf_ali_thanvi/qp06-25.png",
        "/resources/images/ashraf_ali_thanvi/qp06-26.png",
        "/resources/images/ashraf_ali_thanvi/qp06-27.png",
        "/resources/images/ashraf_ali_thanvi/qp07-01.png",
        "/resources/images/ashraf_ali_thanvi/qp07-02.png",
        "/resources/images/ashraf_ali_thanvi/qp07-03.png",
        "/resources/images/ashraf_ali_thanvi/qp07-04.png",
        "/resources/images/ashraf_ali_thanvi/qp07-05.png",
        "/resources/images/ashraf_ali_thanvi/qp07-06.png",
        "/resources/images/ashraf_ali_thanvi/qp07-07.png",
        "/resources/images/ashraf_ali_thanvi/qp07-08.png",
        "/resources/images/ashraf_ali_thanvi/qp07-09.png",
        "/resources/images/ashraf_ali_thanvi/qp07-10.png",
        "/resources/images/ashraf_ali_thanvi/qp07-11.png",
        "/resources/images/ashraf_ali_thanvi/qp07-12.png",
        "/resources/images/ashraf_ali_thanvi/qp07-13.png",
        "/resources/images/ashraf_ali_thanvi/qp07-14.png",
        "/resources/images/ashraf_ali_thanvi/qp07-15.png",
        "/resources/images/ashraf_ali_thanvi/qp07-16.png",
        "/resources/images/ashraf_ali_thanvi/qp07-17.png",
        "/resources/images/ashraf_ali_thanvi/qp07-18.png",
        "/resources/images/ashraf_ali_thanvi/qp07-19.png",
        "/resources/images/ashraf_ali_thanvi/qp07-20.png",
        "/resources/images/ashraf_ali_thanvi/qp07-21.png",
        "/resources/images/ashraf_ali_thanvi/qp07-22.png",
        "/resources/images/ashraf_ali_thanvi/qp07-23.png",
        "/resources/images/ashraf_ali_thanvi/qp07-24.png",
        "/resources/images/ashraf_ali_thanvi/qp07-25.png",
        "/resources/images/ashraf_ali_thanvi/qp07-26.png",
        "/resources/images/ashraf_ali_thanvi/qp07-27.png",
        "/resources/images/ashraf_ali_thanvi/qp07-28.png",
        "/resources/images/ashraf_ali_thanvi/qp07-29.png",
        "/resources/images/ashraf_ali_thanvi/qp08-01.png",
        "/resources/images/ashraf_ali_thanvi/qp08-02.png",
        "/resources/images/ashraf_ali_thanvi/qp08-03.png",
        "/resources/images/ashraf_ali_thanvi/qp08-04.png",
        "/resources/images/ashraf_ali_thanvi/qp08-05.png",
        "/resources/images/ashraf_ali_thanvi/qp08-06.png",
        "/resources/images/ashraf_ali_thanvi/qp08-07.png",
        "/resources/images/ashraf_ali_thanvi/qp08-08.png",
        "/resources/images/ashraf_ali_thanvi/qp08-09.png",
        "/resources/images/ashraf_ali_thanvi/qp08-10.png",
        "/resources/images/ashraf_ali_thanvi/qp08-11.png",
        "/resources/images/ashraf_ali_thanvi/qp08-12.png",
        "/resources/images/ashraf_ali_thanvi/qp08-13.png",
        "/resources/images/ashraf_ali_thanvi/qp08-14.png",
        "/resources/images/ashraf_ali_thanvi/qp08-15.png",
        "/resources/images/ashraf_ali_thanvi/qp08-16.png",
        "/resources/images/ashraf_ali_thanvi/qp08-17.png",
        "/resources/images/ashraf_ali_thanvi/qp08-18.png",
        "/resources/images/ashraf_ali_thanvi/qp08-19.png",
        "/resources/images/ashraf_ali_thanvi/qp08-20.png",
        "/resources/images/ashraf_ali_thanvi/qp08-21.png",
        "/resources/images/ashraf_ali_thanvi/qp08-22.png",
        "/resources/images/ashraf_ali_thanvi/qp08-23.png",
        "/resources/images/ashraf_ali_thanvi/qp08-24.png",
        "/resources/images/ashraf_ali_thanvi/qp08-25.png",
        "/resources/images/ashraf_ali_thanvi/qp08-26.png",
        "/resources/images/ashraf_ali_thanvi/qp08-27.png",
        "/resources/images/ashraf_ali_thanvi/qp08-28.png",
        "/resources/images/ashraf_ali_thanvi/qp09-01.png",
        "/resources/images/ashraf_ali_thanvi/qp09-02.png",
        "/resources/images/ashraf_ali_thanvi/qp09-03.png",
        "/resources/images/ashraf_ali_thanvi/qp09-04.png",
        "/resources/images/ashraf_ali_thanvi/qp09-05.png",
        "/resources/images/ashraf_ali_thanvi/qp09-06.png",
        "/resources/images/ashraf_ali_thanvi/qp09-07.png",
        "/resources/images/ashraf_ali_thanvi/qp09-08.png",
        "/resources/images/ashraf_ali_thanvi/qp09-09.png",
        "/resources/images/ashraf_ali_thanvi/qp09-10.png",
        "/resources/images/ashraf_ali_thanvi/qp09-11.png",
        "/resources/images/ashraf_ali_thanvi/qp09-12.png",
        "/resources/images/ashraf_ali_thanvi/qp09-13.png",
        "/resources/images/ashraf_ali_thanvi/qp09-14.png",
        "/resources/images/ashraf_ali_thanvi/qp09-15.png",
        "/resources/images/ashraf_ali_thanvi/qp09-16.png",
        "/resources/images/ashraf_ali_thanvi/qp09-17.png",
        "/resources/images/ashraf_ali_thanvi/qp09-18.png",
        "/resources/images/ashraf_ali_thanvi/qp09-19.png",
        "/resources/images/ashraf_ali_thanvi/qp09-20.png",
        "/resources/images/ashraf_ali_thanvi/qp09-21.png",
        "/resources/images/ashraf_ali_thanvi/qp09-22.png",
        "/resources/images/ashraf_ali_thanvi/qp09-23.png",
        "/resources/images/ashraf_ali_thanvi/qp09-24.png",
        "/resources/images/ashraf_ali_thanvi/qp09-25.png",
        "/resources/images/ashraf_ali_thanvi/qp09-26.png",
        "/resources/images/ashraf_ali_thanvi/qp09-27.png",
        "/resources/images/ashraf_ali_thanvi/qp09-28.png",
        "/resources/images/ashraf_ali_thanvi/qp10-01.png",
        "/resources/images/ashraf_ali_thanvi/qp10-02.png",
        "/resources/images/ashraf_ali_thanvi/qp10-03.png",
        "/resources/images/ashraf_ali_thanvi/qp10-04.png",
        "/resources/images/ashraf_ali_thanvi/qp10-05.png",
        "/resources/images/ashraf_ali_thanvi/qp10-06.png",
        "/resources/images/ashraf_ali_thanvi/qp10-07.png",
        "/resources/images/ashraf_ali_thanvi/qp10-08.png",
        "/resources/images/ashraf_ali_thanvi/qp10-09.png",
        "/resources/images/ashraf_ali_thanvi/qp10-10.png",
        "/resources/images/ashraf_ali_thanvi/qp10-11.png",
        "/resources/images/ashraf_ali_thanvi/qp10-12.png",
        "/resources/images/ashraf_ali_thanvi/qp10-13.png",
        "/resources/images/ashraf_ali_thanvi/qp10-14.png",
        "/resources/images/ashraf_ali_thanvi/qp10-15.png",
        "/resources/images/ashraf_ali_thanvi/qp10-16.png",
        "/resources/images/ashraf_ali_thanvi/qp10-17.png",
        "/resources/images/ashraf_ali_thanvi/qp10-18.png",
        "/resources/images/ashraf_ali_thanvi/qp10-19.png",
        "/resources/images/ashraf_ali_thanvi/qp10-20.png",
        "/resources/images/ashraf_ali_thanvi/qp10-21.png",
        "/resources/images/ashraf_ali_thanvi/qp10-22.png",
        "/resources/images/ashraf_ali_thanvi/qp10-23.png",
        "/resources/images/ashraf_ali_thanvi/qp10-24.png",
        "/resources/images/ashraf_ali_thanvi/qp10-25.png",
        "/resources/images/ashraf_ali_thanvi/qp10-26.png",
        "/resources/images/ashraf_ali_thanvi/qp10-27.png",
        "/resources/images/ashraf_ali_thanvi/qp10-28.png",
        "/resources/images/ashraf_ali_thanvi/qp11-01.png",
        "/resources/images/ashraf_ali_thanvi/qp11-02.png",
        "/resources/images/ashraf_ali_thanvi/qp11-03.png",
        "/resources/images/ashraf_ali_thanvi/qp11-04.png",
        "/resources/images/ashraf_ali_thanvi/qp11-05.png",
        "/resources/images/ashraf_ali_thanvi/qp11-06.png",
        "/resources/images/ashraf_ali_thanvi/qp11-07.png",
        "/resources/images/ashraf_ali_thanvi/qp11-08.png",
        "/resources/images/ashraf_ali_thanvi/qp11-09.png",
        "/resources/images/ashraf_ali_thanvi/qp11-10.png",
        "/resources/images/ashraf_ali_thanvi/qp11-11.png",
        "/resources/images/ashraf_ali_thanvi/qp11-12.png",
        "/resources/images/ashraf_ali_thanvi/qp11-13.png",
        "/resources/images/ashraf_ali_thanvi/qp11-14.png",
        "/resources/images/ashraf_ali_thanvi/qp11-15.png",
        "/resources/images/ashraf_ali_thanvi/qp11-16.png",
        "/resources/images/ashraf_ali_thanvi/qp11-17.png",
        "/resources/images/ashraf_ali_thanvi/qp11-18.png",
        "/resources/images/ashraf_ali_thanvi/qp11-19.png",
        "/resources/images/ashraf_ali_thanvi/qp11-20.png",
        "/resources/images/ashraf_ali_thanvi/qp11-21.png",
        "/resources/images/ashraf_ali_thanvi/qp11-22.png",
        "/resources/images/ashraf_ali_thanvi/qp11-23.png",
        "/resources/images/ashraf_ali_thanvi/qp11-24.png",
        "/resources/images/ashraf_ali_thanvi/qp11-25.png",
        "/resources/images/ashraf_ali_thanvi/qp11-26.png",
        "/resources/images/ashraf_ali_thanvi/qp11-27.png",
        "/resources/images/ashraf_ali_thanvi/qp12-01.png",
        "/resources/images/ashraf_ali_thanvi/qp12-02.png",
        "/resources/images/ashraf_ali_thanvi/qp12-03.png",
        "/resources/images/ashraf_ali_thanvi/qp12-04.png",
        "/resources/images/ashraf_ali_thanvi/qp12-05.png",
        "/resources/images/ashraf_ali_thanvi/qp12-06.png",
        "/resources/images/ashraf_ali_thanvi/qp12-07.png",
        "/resources/images/ashraf_ali_thanvi/qp12-08.png",
        "/resources/images/ashraf_ali_thanvi/qp12-09.png",
        "/resources/images/ashraf_ali_thanvi/qp12-10.png",
        "/resources/images/ashraf_ali_thanvi/qp12-11.png",
        "/resources/images/ashraf_ali_thanvi/qp12-12.png",
        "/resources/images/ashraf_ali_thanvi/qp12-13.png",
        "/resources/images/ashraf_ali_thanvi/qp12-14.png",
        "/resources/images/ashraf_ali_thanvi/qp12-15.png",
        "/resources/images/ashraf_ali_thanvi/qp12-16.png",
        "/resources/images/ashraf_ali_thanvi/qp12-17.png",
        "/resources/images/ashraf_ali_thanvi/qp12-18.png",
        "/resources/images/ashraf_ali_thanvi/qp12-19.png",
        "/resources/images/ashraf_ali_thanvi/qp12-20.png",
        "/resources/images/ashraf_ali_thanvi/qp12-21.png",
        "/resources/images/ashraf_ali_thanvi/qp12-22.png",
        "/resources/images/ashraf_ali_thanvi/qp12-23.png",
        "/resources/images/ashraf_ali_thanvi/qp12-24.png",
        "/resources/images/ashraf_ali_thanvi/qp12-25.png",
        "/resources/images/ashraf_ali_thanvi/qp12-26.png",
        "/resources/images/ashraf_ali_thanvi/qp12-27.png",
        "/resources/images/ashraf_ali_thanvi/qp12-28.png",
        "/resources/images/ashraf_ali_thanvi/qp13-01.png",
        "/resources/images/ashraf_ali_thanvi/qp13-02.png",
        "/resources/images/ashraf_ali_thanvi/qp13-03.png",
        "/resources/images/ashraf_ali_thanvi/qp13-04.png",
        "/resources/images/ashraf_ali_thanvi/qp13-05.png",
        "/resources/images/ashraf_ali_thanvi/qp13-06.png",
        "/resources/images/ashraf_ali_thanvi/qp13-07.png",
        "/resources/images/ashraf_ali_thanvi/qp13-08.png",
        "/resources/images/ashraf_ali_thanvi/qp13-09.png",
        "/resources/images/ashraf_ali_thanvi/qp13-10.png",
        "/resources/images/ashraf_ali_thanvi/qp13-11.png",
        "/resources/images/ashraf_ali_thanvi/qp13-12.png",
        "/resources/images/ashraf_ali_thanvi/qp13-13.png",
        "/resources/images/ashraf_ali_thanvi/qp13-14.png",
        "/resources/images/ashraf_ali_thanvi/qp13-15.png",
        "/resources/images/ashraf_ali_thanvi/qp13-16.png",
        "/resources/images/ashraf_ali_thanvi/qp13-17.png",
        "/resources/images/ashraf_ali_thanvi/qp13-18.png",
        "/resources/images/ashraf_ali_thanvi/qp13-19.png",
        "/resources/images/ashraf_ali_thanvi/qp13-20.png",
        "/resources/images/ashraf_ali_thanvi/qp13-21.png",
        "/resources/images/ashraf_ali_thanvi/qp13-22.png",
        "/resources/images/ashraf_ali_thanvi/qp13-23.png",
        "/resources/images/ashraf_ali_thanvi/qp13-24.png",
        "/resources/images/ashraf_ali_thanvi/qp13-25.png",
        "/resources/images/ashraf_ali_thanvi/qp13-26.png",
        "/resources/images/ashraf_ali_thanvi/qp13-27.png",
        "/resources/images/ashraf_ali_thanvi/qp13-28.png",
        "/resources/images/ashraf_ali_thanvi/qp14-01.png",
        "/resources/images/ashraf_ali_thanvi/qp14-02.png",
        "/resources/images/ashraf_ali_thanvi/qp14-03.png",
        "/resources/images/ashraf_ali_thanvi/qp14-04.png",
        "/resources/images/ashraf_ali_thanvi/qp14-05.png",
        "/resources/images/ashraf_ali_thanvi/qp14-06.png",
        "/resources/images/ashraf_ali_thanvi/qp14-07.png",
        "/resources/images/ashraf_ali_thanvi/qp14-08.png",
        "/resources/images/ashraf_ali_thanvi/qp14-09.png",
        "/resources/images/ashraf_ali_thanvi/qp14-10.png",
        "/resources/images/ashraf_ali_thanvi/qp14-11.png",
        "/resources/images/ashraf_ali_thanvi/qp14-12.png",
        "/resources/images/ashraf_ali_thanvi/qp14-13.png",
        "/resources/images/ashraf_ali_thanvi/qp14-14.png",
        "/resources/images/ashraf_ali_thanvi/qp14-15.png",
        "/resources/images/ashraf_ali_thanvi/qp14-16.png",
        "/resources/images/ashraf_ali_thanvi/qp14-17.png",
        "/resources/images/ashraf_ali_thanvi/qp14-18.png",
        "/resources/images/ashraf_ali_thanvi/qp14-19.png",
        "/resources/images/ashraf_ali_thanvi/qp14-20.png",
        "/resources/images/ashraf_ali_thanvi/qp14-21.png",
        "/resources/images/ashraf_ali_thanvi/qp14-22.png",
        "/resources/images/ashraf_ali_thanvi/qp14-23.png",
        "/resources/images/ashraf_ali_thanvi/qp14-24.png",
        "/resources/images/ashraf_ali_thanvi/qp14-25.png",
        "/resources/images/ashraf_ali_thanvi/qp14-26.png",
        "/resources/images/ashraf_ali_thanvi/qp14-27.png",
        "/resources/images/ashraf_ali_thanvi/qp14-28.png",
        "/resources/images/ashraf_ali_thanvi/qp15-01.png",
        "/resources/images/ashraf_ali_thanvi/qp15-02.png",
        "/resources/images/ashraf_ali_thanvi/qp15-03.png",
        "/resources/images/ashraf_ali_thanvi/qp15-04.png",
        "/resources/images/ashraf_ali_thanvi/qp15-05.png",
        "/resources/images/ashraf_ali_thanvi/qp15-06.png",
        "/resources/images/ashraf_ali_thanvi/qp15-07.png",
        "/resources/images/ashraf_ali_thanvi/qp15-08.png",
        "/resources/images/ashraf_ali_thanvi/qp15-09.png",
        "/resources/images/ashraf_ali_thanvi/qp15-10.png",
        "/resources/images/ashraf_ali_thanvi/qp15-11.png",
        "/resources/images/ashraf_ali_thanvi/qp15-12.png",
        "/resources/images/ashraf_ali_thanvi/qp15-13.png",
        "/resources/images/ashraf_ali_thanvi/qp15-14.png",
        "/resources/images/ashraf_ali_thanvi/qp15-15.png",
        "/resources/images/ashraf_ali_thanvi/qp15-16.png",
        "/resources/images/ashraf_ali_thanvi/qp15-17.png",
        "/resources/images/ashraf_ali_thanvi/qp15-18.png",
        "/resources/images/ashraf_ali_thanvi/qp15-19.png",
        "/resources/images/ashraf_ali_thanvi/qp15-20.png",
        "/resources/images/ashraf_ali_thanvi/qp15-21.png",
        "/resources/images/ashraf_ali_thanvi/qp15-22.png",
        "/resources/images/ashraf_ali_thanvi/qp15-23.png",
        "/resources/images/ashraf_ali_thanvi/qp15-24.png",
        "/resources/images/ashraf_ali_thanvi/qp15-25.png",
        "/resources/images/ashraf_ali_thanvi/qp15-26.png",
        "/resources/images/ashraf_ali_thanvi/qp15-27.png",
        "/resources/images/ashraf_ali_thanvi/qp15-28.png",
        "/resources/images/ashraf_ali_thanvi/qp15-29.png",
        "/resources/images/ashraf_ali_thanvi/qp16-01.png",
        "/resources/images/ashraf_ali_thanvi/qp16-02.png",
        "/resources/images/ashraf_ali_thanvi/qp16-03.png",
        "/resources/images/ashraf_ali_thanvi/qp16-04.png",
        "/resources/images/ashraf_ali_thanvi/qp16-05.png",
        "/resources/images/ashraf_ali_thanvi/qp16-06.png",
        "/resources/images/ashraf_ali_thanvi/qp16-07.png",
        "/resources/images/ashraf_ali_thanvi/qp16-08.png",
        "/resources/images/ashraf_ali_thanvi/qp16-09.png",
        "/resources/images/ashraf_ali_thanvi/qp16-10.png",
        "/resources/images/ashraf_ali_thanvi/qp16-11.png",
        "/resources/images/ashraf_ali_thanvi/qp16-12.png",
        "/resources/images/ashraf_ali_thanvi/qp16-13.png",
        "/resources/images/ashraf_ali_thanvi/qp16-14.png",
        "/resources/images/ashraf_ali_thanvi/qp16-15.png",
        "/resources/images/ashraf_ali_thanvi/qp16-16.png",
        "/resources/images/ashraf_ali_thanvi/qp16-17.png",
        "/resources/images/ashraf_ali_thanvi/qp16-18.png",
        "/resources/images/ashraf_ali_thanvi/qp16-19.png",
        "/resources/images/ashraf_ali_thanvi/qp16-20.png",
        "/resources/images/ashraf_ali_thanvi/qp16-21.png",
        "/resources/images/ashraf_ali_thanvi/qp16-22.png",
        "/resources/images/ashraf_ali_thanvi/qp16-23.png",
        "/resources/images/ashraf_ali_thanvi/qp16-24.png",
        "/resources/images/ashraf_ali_thanvi/qp16-25.png",
        "/resources/images/ashraf_ali_thanvi/qp16-26.png",
        "/resources/images/ashraf_ali_thanvi/qp16-27.png",
        "/resources/images/ashraf_ali_thanvi/qp16-28.png",
        "/resources/images/ashraf_ali_thanvi/qp16-29.png",
        "/resources/images/ashraf_ali_thanvi/qp17-01.png",
        "/resources/images/ashraf_ali_thanvi/qp17-02.png",
        "/resources/images/ashraf_ali_thanvi/qp17-03.png",
        "/resources/images/ashraf_ali_thanvi/qp17-04.png",
        "/resources/images/ashraf_ali_thanvi/qp17-05.png",
        "/resources/images/ashraf_ali_thanvi/qp17-06.png",
        "/resources/images/ashraf_ali_thanvi/qp17-07.png",
        "/resources/images/ashraf_ali_thanvi/qp17-08.png",
        "/resources/images/ashraf_ali_thanvi/qp17-09.png",
        "/resources/images/ashraf_ali_thanvi/qp17-10.png",
        "/resources/images/ashraf_ali_thanvi/qp17-11.png",
        "/resources/images/ashraf_ali_thanvi/qp17-12.png",
        "/resources/images/ashraf_ali_thanvi/qp17-13.png",
        "/resources/images/ashraf_ali_thanvi/qp17-14.png",
        "/resources/images/ashraf_ali_thanvi/qp17-15.png",
        "/resources/images/ashraf_ali_thanvi/qp17-16.png",
        "/resources/images/ashraf_ali_thanvi/qp17-17.png",
        "/resources/images/ashraf_ali_thanvi/qp17-18.png",
        "/resources/images/ashraf_ali_thanvi/qp17-19.png",
        "/resources/images/ashraf_ali_thanvi/qp17-20.png",
        "/resources/images/ashraf_ali_thanvi/qp17-21.png",
        "/resources/images/ashraf_ali_thanvi/qp17-22.png",
        "/resources/images/ashraf_ali_thanvi/qp17-23.png",
        "/resources/images/ashraf_ali_thanvi/qp17-24.png",
        "/resources/images/ashraf_ali_thanvi/qp17-25.png",
        "/resources/images/ashraf_ali_thanvi/qp17-26.png",
        "/resources/images/ashraf_ali_thanvi/qp17-27.png",
        "/resources/images/ashraf_ali_thanvi/qp18-01.png",
        "/resources/images/ashraf_ali_thanvi/qp18-02.png",
        "/resources/images/ashraf_ali_thanvi/qp18-03.png",
        "/resources/images/ashraf_ali_thanvi/qp18-04.png",
        "/resources/images/ashraf_ali_thanvi/qp18-05.png",
        "/resources/images/ashraf_ali_thanvi/qp18-06.png",
        "/resources/images/ashraf_ali_thanvi/qp18-07.png",
        "/resources/images/ashraf_ali_thanvi/qp18-08.png",
        "/resources/images/ashraf_ali_thanvi/qp18-09.png",
        "/resources/images/ashraf_ali_thanvi/qp18-10.png",
        "/resources/images/ashraf_ali_thanvi/qp18-11.png",
        "/resources/images/ashraf_ali_thanvi/qp18-12.png",
        "/resources/images/ashraf_ali_thanvi/qp18-13.png",
        "/resources/images/ashraf_ali_thanvi/qp18-14.png",
        "/resources/images/ashraf_ali_thanvi/qp18-15.png",
        "/resources/images/ashraf_ali_thanvi/qp18-16.png",
        "/resources/images/ashraf_ali_thanvi/qp18-17.png",
        "/resources/images/ashraf_ali_thanvi/qp18-18.png",
        "/resources/images/ashraf_ali_thanvi/qp18-19.png",
        "/resources/images/ashraf_ali_thanvi/qp18-20.png",
        "/resources/images/ashraf_ali_thanvi/qp18-21.png",
        "/resources/images/ashraf_ali_thanvi/qp18-22.png",
        "/resources/images/ashraf_ali_thanvi/qp18-23.png",
        "/resources/images/ashraf_ali_thanvi/qp18-24.png",
        "/resources/images/ashraf_ali_thanvi/qp18-25.png",
        "/resources/images/ashraf_ali_thanvi/qp18-26.png",
        "/resources/images/ashraf_ali_thanvi/qp18-27.png",
        "/resources/images/ashraf_ali_thanvi/qp18-28.png",
        "/resources/images/ashraf_ali_thanvi/qp19-01.png",
        "/resources/images/ashraf_ali_thanvi/qp19-02.png",
        "/resources/images/ashraf_ali_thanvi/qp19-03.png",
        "/resources/images/ashraf_ali_thanvi/qp19-04.png",
        "/resources/images/ashraf_ali_thanvi/qp19-05.png",
        "/resources/images/ashraf_ali_thanvi/qp19-06.png",
        "/resources/images/ashraf_ali_thanvi/qp19-07.png",
        "/resources/images/ashraf_ali_thanvi/qp19-08.png",
        "/resources/images/ashraf_ali_thanvi/qp19-09.png",
        "/resources/images/ashraf_ali_thanvi/qp19-10.png",
        "/resources/images/ashraf_ali_thanvi/qp19-11.png",
        "/resources/images/ashraf_ali_thanvi/qp19-12.png",
        "/resources/images/ashraf_ali_thanvi/qp19-13.png",
        "/resources/images/ashraf_ali_thanvi/qp19-14.png",
        "/resources/images/ashraf_ali_thanvi/qp19-15.png",
        "/resources/images/ashraf_ali_thanvi/qp19-16.png",
        "/resources/images/ashraf_ali_thanvi/qp19-17.png",
        "/resources/images/ashraf_ali_thanvi/qp19-18.png",
        "/resources/images/ashraf_ali_thanvi/qp19-19.png",
        "/resources/images/ashraf_ali_thanvi/qp19-20.png",
        "/resources/images/ashraf_ali_thanvi/qp19-21.png",
        "/resources/images/ashraf_ali_thanvi/qp19-22.png",
        "/resources/images/ashraf_ali_thanvi/qp19-23.png",
        "/resources/images/ashraf_ali_thanvi/qp19-24.png",
        "/resources/images/ashraf_ali_thanvi/qp19-25.png",
        "/resources/images/ashraf_ali_thanvi/qp19-26.png",
        "/resources/images/ashraf_ali_thanvi/qp19-27.png",
        "/resources/images/ashraf_ali_thanvi/qp19-28.png",
        "/resources/images/ashraf_ali_thanvi/qp19-29.png",
        "/resources/images/ashraf_ali_thanvi/qp20-01.png",
        "/resources/images/ashraf_ali_thanvi/qp20-02.png",
        "/resources/images/ashraf_ali_thanvi/qp20-03.png",
        "/resources/images/ashraf_ali_thanvi/qp20-04.png",
        "/resources/images/ashraf_ali_thanvi/qp20-05.png",
        "/resources/images/ashraf_ali_thanvi/qp20-06.png",
        "/resources/images/ashraf_ali_thanvi/qp20-07.png",
        "/resources/images/ashraf_ali_thanvi/qp20-08.png",
        "/resources/images/ashraf_ali_thanvi/qp20-09.png",
        "/resources/images/ashraf_ali_thanvi/qp20-10.png",
        "/resources/images/ashraf_ali_thanvi/qp20-11.png",
        "/resources/images/ashraf_ali_thanvi/qp20-12.png",
        "/resources/images/ashraf_ali_thanvi/qp20-13.png",
        "/resources/images/ashraf_ali_thanvi/qp20-14.png",
        "/resources/images/ashraf_ali_thanvi/qp20-15.png",
        "/resources/images/ashraf_ali_thanvi/qp20-16.png",
        "/resources/images/ashraf_ali_thanvi/qp20-17.png",
        "/resources/images/ashraf_ali_thanvi/qp20-18.png",
        "/resources/images/ashraf_ali_thanvi/qp20-19.png",
        "/resources/images/ashraf_ali_thanvi/qp20-20.png",
        "/resources/images/ashraf_ali_thanvi/qp20-21.png",
        "/resources/images/ashraf_ali_thanvi/qp20-22.png",
        "/resources/images/ashraf_ali_thanvi/qp20-23.png",
        "/resources/images/ashraf_ali_thanvi/qp20-24.png",
        "/resources/images/ashraf_ali_thanvi/qp20-25.png",
        "/resources/images/ashraf_ali_thanvi/qp20-26.png",
        "/resources/images/ashraf_ali_thanvi/qp20-27.png",
        "/resources/images/ashraf_ali_thanvi/qp21-01.png",
        "/resources/images/ashraf_ali_thanvi/qp21-02.png",
        "/resources/images/ashraf_ali_thanvi/qp21-03.png",
        "/resources/images/ashraf_ali_thanvi/qp21-04.png",
        "/resources/images/ashraf_ali_thanvi/qp21-05.png",
        "/resources/images/ashraf_ali_thanvi/qp21-06.png",
        "/resources/images/ashraf_ali_thanvi/qp21-07.png",
        "/resources/images/ashraf_ali_thanvi/qp21-08.png",
        "/resources/images/ashraf_ali_thanvi/qp21-09.png",
        "/resources/images/ashraf_ali_thanvi/qp21-10.png",
        "/resources/images/ashraf_ali_thanvi/qp21-11.png",
        "/resources/images/ashraf_ali_thanvi/qp21-12.png",
        "/resources/images/ashraf_ali_thanvi/qp21-13.png",
        "/resources/images/ashraf_ali_thanvi/qp21-14.png",
        "/resources/images/ashraf_ali_thanvi/qp21-15.png",
        "/resources/images/ashraf_ali_thanvi/qp21-16.png",
        "/resources/images/ashraf_ali_thanvi/qp21-17.png",
        "/resources/images/ashraf_ali_thanvi/qp21-18.png",
        "/resources/images/ashraf_ali_thanvi/qp21-19.png",
        "/resources/images/ashraf_ali_thanvi/qp21-20.png",
        "/resources/images/ashraf_ali_thanvi/qp21-21.png",
        "/resources/images/ashraf_ali_thanvi/qp21-22.png",
        "/resources/images/ashraf_ali_thanvi/qp21-23.png",
        "/resources/images/ashraf_ali_thanvi/qp21-24.png",
        "/resources/images/ashraf_ali_thanvi/qp21-25.png",
        "/resources/images/ashraf_ali_thanvi/qp21-26.png",
        "/resources/images/ashraf_ali_thanvi/qp21-27.png",
        "/resources/images/ashraf_ali_thanvi/qp21-28.png",
        "/resources/images/ashraf_ali_thanvi/qp22-01.png",
        "/resources/images/ashraf_ali_thanvi/qp22-02.png",
        "/resources/images/ashraf_ali_thanvi/qp22-03.png",
        "/resources/images/ashraf_ali_thanvi/qp22-04.png",
        "/resources/images/ashraf_ali_thanvi/qp22-05.png",
        "/resources/images/ashraf_ali_thanvi/qp22-06.png",
        "/resources/images/ashraf_ali_thanvi/qp22-07.png",
        "/resources/images/ashraf_ali_thanvi/qp22-08.png",
        "/resources/images/ashraf_ali_thanvi/qp22-09.png",
        "/resources/images/ashraf_ali_thanvi/qp22-10.png",
        "/resources/images/ashraf_ali_thanvi/qp22-11.png",
        "/resources/images/ashraf_ali_thanvi/qp22-12.png",
        "/resources/images/ashraf_ali_thanvi/qp22-13.png",
        "/resources/images/ashraf_ali_thanvi/qp22-14.png",
        "/resources/images/ashraf_ali_thanvi/qp22-15.png",
        "/resources/images/ashraf_ali_thanvi/qp22-16.png",
        "/resources/images/ashraf_ali_thanvi/qp22-17.png",
        "/resources/images/ashraf_ali_thanvi/qp22-18.png",
        "/resources/images/ashraf_ali_thanvi/qp22-19.png",
        "/resources/images/ashraf_ali_thanvi/qp22-20.png",
        "/resources/images/ashraf_ali_thanvi/qp22-21.png",
        "/resources/images/ashraf_ali_thanvi/qp22-22.png",
        "/resources/images/ashraf_ali_thanvi/qp22-23.png",
        "/resources/images/ashraf_ali_thanvi/qp22-24.png",
        "/resources/images/ashraf_ali_thanvi/qp22-25.png",
        "/resources/images/ashraf_ali_thanvi/qp22-26.png",
        "/resources/images/ashraf_ali_thanvi/qp22-27.png",
        "/resources/images/ashraf_ali_thanvi/qp22-28.png",
        "/resources/images/ashraf_ali_thanvi/qp23-01.png",
        "/resources/images/ashraf_ali_thanvi/qp23-02.png",
        "/resources/images/ashraf_ali_thanvi/qp23-03.png",
        "/resources/images/ashraf_ali_thanvi/qp23-04.png",
        "/resources/images/ashraf_ali_thanvi/qp23-05.png",
        "/resources/images/ashraf_ali_thanvi/qp23-06.png",
        "/resources/images/ashraf_ali_thanvi/qp23-07.png",
        "/resources/images/ashraf_ali_thanvi/qp23-08.png",
        "/resources/images/ashraf_ali_thanvi/qp23-09.png",
        "/resources/images/ashraf_ali_thanvi/qp23-10.png",
        "/resources/images/ashraf_ali_thanvi/qp23-11.png",
        "/resources/images/ashraf_ali_thanvi/qp23-12.png",
        "/resources/images/ashraf_ali_thanvi/qp23-13.png",
        "/resources/images/ashraf_ali_thanvi/qp23-14.png",
        "/resources/images/ashraf_ali_thanvi/qp23-15.png",
        "/resources/images/ashraf_ali_thanvi/qp23-16.png",
        "/resources/images/ashraf_ali_thanvi/qp23-17.png",
        "/resources/images/ashraf_ali_thanvi/qp23-18.png",
        "/resources/images/ashraf_ali_thanvi/qp23-19.png",
        "/resources/images/ashraf_ali_thanvi/qp23-20.png",
        "/resources/images/ashraf_ali_thanvi/qp23-21.png",
        "/resources/images/ashraf_ali_thanvi/qp23-22.png",
        "/resources/images/ashraf_ali_thanvi/qp23-23.png",
        "/resources/images/ashraf_ali_thanvi/qp23-24.png",
        "/resources/images/ashraf_ali_thanvi/qp23-25.png",
        "/resources/images/ashraf_ali_thanvi/qp23-26.png",
        "/resources/images/ashraf_ali_thanvi/qp23-27.png",
        "/resources/images/ashraf_ali_thanvi/qp23-28.png",
        "/resources/images/ashraf_ali_thanvi/qp23-29.png",
        "/resources/images/ashraf_ali_thanvi/qp24-01.png",
        "/resources/images/ashraf_ali_thanvi/qp24-02.png",
        "/resources/images/ashraf_ali_thanvi/qp24-03.png",
        "/resources/images/ashraf_ali_thanvi/qp24-04.png",
        "/resources/images/ashraf_ali_thanvi/qp24-05.png",
        "/resources/images/ashraf_ali_thanvi/qp24-06.png",
        "/resources/images/ashraf_ali_thanvi/qp24-07.png",
        "/resources/images/ashraf_ali_thanvi/qp24-08.png",
        "/resources/images/ashraf_ali_thanvi/qp24-09.png",
        "/resources/images/ashraf_ali_thanvi/qp24-10.png",
        "/resources/images/ashraf_ali_thanvi/qp24-11.png",
        "/resources/images/ashraf_ali_thanvi/qp24-12.png",
        "/resources/images/ashraf_ali_thanvi/qp24-13.png",
        "/resources/images/ashraf_ali_thanvi/qp24-14.png",
        "/resources/images/ashraf_ali_thanvi/qp24-15.png",
        "/resources/images/ashraf_ali_thanvi/qp24-16.png",
        "/resources/images/ashraf_ali_thanvi/qp24-17.png",
        "/resources/images/ashraf_ali_thanvi/qp24-18.png",
        "/resources/images/ashraf_ali_thanvi/qp24-19.png",
        "/resources/images/ashraf_ali_thanvi/qp24-20.png",
        "/resources/images/ashraf_ali_thanvi/qp24-21.png",
        "/resources/images/ashraf_ali_thanvi/qp24-22.png",
        "/resources/images/ashraf_ali_thanvi/qp24-23.png",
        "/resources/images/ashraf_ali_thanvi/qp24-24.png",
        "/resources/images/ashraf_ali_thanvi/qp24-25.png",
        "/resources/images/ashraf_ali_thanvi/qp24-26.png",
        "/resources/images/ashraf_ali_thanvi/qp24-27.png",
        "/resources/images/ashraf_ali_thanvi/qp24-28.png",
        "/resources/images/ashraf_ali_thanvi/qp25-01.png",
        "/resources/images/ashraf_ali_thanvi/qp25-02.png",
        "/resources/images/ashraf_ali_thanvi/qp25-03.png",
        "/resources/images/ashraf_ali_thanvi/qp25-04.png",
        "/resources/images/ashraf_ali_thanvi/qp25-05.png",
        "/resources/images/ashraf_ali_thanvi/qp25-06.png",
        "/resources/images/ashraf_ali_thanvi/qp25-07.png",
        "/resources/images/ashraf_ali_thanvi/qp25-08.png",
        "/resources/images/ashraf_ali_thanvi/qp25-09.png",
        "/resources/images/ashraf_ali_thanvi/qp25-10.png",
        "/resources/images/ashraf_ali_thanvi/qp25-11.png",
        "/resources/images/ashraf_ali_thanvi/qp25-12.png",
        "/resources/images/ashraf_ali_thanvi/qp25-13.png",
        "/resources/images/ashraf_ali_thanvi/qp25-14.png",
        "/resources/images/ashraf_ali_thanvi/qp25-15.png",
        "/resources/images/ashraf_ali_thanvi/qp25-16.png",
        "/resources/images/ashraf_ali_thanvi/qp25-17.png",
        "/resources/images/ashraf_ali_thanvi/qp25-18.png",
        "/resources/images/ashraf_ali_thanvi/qp25-19.png",
        "/resources/images/ashraf_ali_thanvi/qp25-20.png",
        "/resources/images/ashraf_ali_thanvi/qp25-21.png",
        "/resources/images/ashraf_ali_thanvi/qp25-22.png",
        "/resources/images/ashraf_ali_thanvi/qp25-23.png",
        "/resources/images/ashraf_ali_thanvi/qp25-24.png",
        "/resources/images/ashraf_ali_thanvi/qp25-25.png",
        "/resources/images/ashraf_ali_thanvi/qp25-26.png",
        "/resources/images/ashraf_ali_thanvi/qp25-27.png",
        "/resources/images/ashraf_ali_thanvi/qp25-28.png",
        "/resources/images/ashraf_ali_thanvi/qp25-29.png",
        "/resources/images/ashraf_ali_thanvi/qp26-01.png",
        "/resources/images/ashraf_ali_thanvi/qp26-02.png",
        "/resources/images/ashraf_ali_thanvi/qp26-03.png",
        "/resources/images/ashraf_ali_thanvi/qp26-04.png",
        "/resources/images/ashraf_ali_thanvi/qp26-05.png",
        "/resources/images/ashraf_ali_thanvi/qp26-06.png",
        "/resources/images/ashraf_ali_thanvi/qp26-07.png",
        "/resources/images/ashraf_ali_thanvi/qp26-08.png",
        "/resources/images/ashraf_ali_thanvi/qp26-09.png",
        "/resources/images/ashraf_ali_thanvi/qp26-10.png",
        "/resources/images/ashraf_ali_thanvi/qp26-11.png",
        "/resources/images/ashraf_ali_thanvi/qp26-12.png",
        "/resources/images/ashraf_ali_thanvi/qp26-13.png",
        "/resources/images/ashraf_ali_thanvi/qp26-14.png",
        "/resources/images/ashraf_ali_thanvi/qp26-15.png",
        "/resources/images/ashraf_ali_thanvi/qp26-16.png",
        "/resources/images/ashraf_ali_thanvi/qp26-17.png",
        "/resources/images/ashraf_ali_thanvi/qp26-18.png",
        "/resources/images/ashraf_ali_thanvi/qp26-19.png",
        "/resources/images/ashraf_ali_thanvi/qp26-20.png",
        "/resources/images/ashraf_ali_thanvi/qp26-21.png",
        "/resources/images/ashraf_ali_thanvi/qp26-22.png",
        "/resources/images/ashraf_ali_thanvi/qp26-23.png",
        "/resources/images/ashraf_ali_thanvi/qp26-24.png",
        "/resources/images/ashraf_ali_thanvi/qp26-25.png",
        "/resources/images/ashraf_ali_thanvi/qp26-26.png",
        "/resources/images/ashraf_ali_thanvi/qp26-27.png",
        "/resources/images/ashraf_ali_thanvi/qp26-28.png",
        "/resources/images/ashraf_ali_thanvi/qp26-29.png",
        "/resources/images/ashraf_ali_thanvi/qp27-01.png",
        "/resources/images/ashraf_ali_thanvi/qp27-02.png",
        "/resources/images/ashraf_ali_thanvi/qp27-03.png",
        "/resources/images/ashraf_ali_thanvi/qp27-04.png",
        "/resources/images/ashraf_ali_thanvi/qp27-05.png",
        "/resources/images/ashraf_ali_thanvi/qp27-06.png",
        "/resources/images/ashraf_ali_thanvi/qp27-07.png",
        "/resources/images/ashraf_ali_thanvi/qp27-08.png",
        "/resources/images/ashraf_ali_thanvi/qp27-09.png",
        "/resources/images/ashraf_ali_thanvi/qp27-10.png",
        "/resources/images/ashraf_ali_thanvi/qp27-11.png",
        "/resources/images/ashraf_ali_thanvi/qp27-12.png",
        "/resources/images/ashraf_ali_thanvi/qp27-13.png",
        "/resources/images/ashraf_ali_thanvi/qp27-14.png",
        "/resources/images/ashraf_ali_thanvi/qp27-15.png",
        "/resources/images/ashraf_ali_thanvi/qp27-16.png",
        "/resources/images/ashraf_ali_thanvi/qp27-17.png",
        "/resources/images/ashraf_ali_thanvi/qp27-18.png",
        "/resources/images/ashraf_ali_thanvi/qp27-19.png",
        "/resources/images/ashraf_ali_thanvi/qp27-20.png",
        "/resources/images/ashraf_ali_thanvi/qp27-21.png",
        "/resources/images/ashraf_ali_thanvi/qp27-22.png",
        "/resources/images/ashraf_ali_thanvi/qp27-23.png",
        "/resources/images/ashraf_ali_thanvi/qp27-24.png",
        "/resources/images/ashraf_ali_thanvi/qp27-25.png",
        "/resources/images/ashraf_ali_thanvi/qp27-26.png",
        "/resources/images/ashraf_ali_thanvi/qp27-27.png",
        "/resources/images/ashraf_ali_thanvi/qp27-28.png",
        "/resources/images/ashraf_ali_thanvi/qp27-29.png",
        "/resources/images/ashraf_ali_thanvi/qp28-01.png",
        "/resources/images/ashraf_ali_thanvi/qp28-02.png",
        "/resources/images/ashraf_ali_thanvi/qp28-03.png",
        "/resources/images/ashraf_ali_thanvi/qp28-04.png",
        "/resources/images/ashraf_ali_thanvi/qp28-05.png",
        "/resources/images/ashraf_ali_thanvi/qp28-06.png",
        "/resources/images/ashraf_ali_thanvi/qp28-07.png",
        "/resources/images/ashraf_ali_thanvi/qp28-08.png",
        "/resources/images/ashraf_ali_thanvi/qp28-09.png",
        "/resources/images/ashraf_ali_thanvi/qp28-10.png",
        "/resources/images/ashraf_ali_thanvi/qp28-11.png",
        "/resources/images/ashraf_ali_thanvi/qp28-12.png",
        "/resources/images/ashraf_ali_thanvi/qp28-13.png",
        "/resources/images/ashraf_ali_thanvi/qp28-14.png",
        "/resources/images/ashraf_ali_thanvi/qp28-15.png",
        "/resources/images/ashraf_ali_thanvi/qp28-16.png",
        "/resources/images/ashraf_ali_thanvi/qp28-17.png",
        "/resources/images/ashraf_ali_thanvi/qp28-18.png",
        "/resources/images/ashraf_ali_thanvi/qp28-19.png",
        "/resources/images/ashraf_ali_thanvi/qp28-20.png",
        "/resources/images/ashraf_ali_thanvi/qp28-21.png",
        "/resources/images/ashraf_ali_thanvi/qp28-22.png",
        "/resources/images/ashraf_ali_thanvi/qp28-23.png",
        "/resources/images/ashraf_ali_thanvi/qp28-24.png",
        "/resources/images/ashraf_ali_thanvi/qp28-25.png",
        "/resources/images/ashraf_ali_thanvi/qp28-26.png",
        "/resources/images/ashraf_ali_thanvi/qp28-27.png",
        "/resources/images/ashraf_ali_thanvi/qp28-28.png",
        "/resources/images/ashraf_ali_thanvi/qp28-29.png",
        "/resources/images/ashraf_ali_thanvi/qp29-01.png",
        "/resources/images/ashraf_ali_thanvi/qp29-02.png",
        "/resources/images/ashraf_ali_thanvi/qp29-03.png",
        "/resources/images/ashraf_ali_thanvi/qp29-04.png",
        "/resources/images/ashraf_ali_thanvi/qp29-05.png",
        "/resources/images/ashraf_ali_thanvi/qp29-06.png",
        "/resources/images/ashraf_ali_thanvi/qp29-07.png",
        "/resources/images/ashraf_ali_thanvi/qp29-08.png",
        "/resources/images/ashraf_ali_thanvi/qp29-09.png",
        "/resources/images/ashraf_ali_thanvi/qp29-10.png",
        "/resources/images/ashraf_ali_thanvi/qp29-11.png",
        "/resources/images/ashraf_ali_thanvi/qp29-12.png",
        "/resources/images/ashraf_ali_thanvi/qp29-13.png",
        "/resources/images/ashraf_ali_thanvi/qp29-14.png",
        "/resources/images/ashraf_ali_thanvi/qp29-15.png",
        "/resources/images/ashraf_ali_thanvi/qp29-16.png",
        "/resources/images/ashraf_ali_thanvi/qp29-17.png",
        "/resources/images/ashraf_ali_thanvi/qp29-18.png",
        "/resources/images/ashraf_ali_thanvi/qp29-19.png",
        "/resources/images/ashraf_ali_thanvi/qp29-20.png",
        "/resources/images/ashraf_ali_thanvi/qp29-21.png",
        "/resources/images/ashraf_ali_thanvi/qp29-22.png",
        "/resources/images/ashraf_ali_thanvi/qp29-23.png",
        "/resources/images/ashraf_ali_thanvi/qp29-24.png",
        "/resources/images/ashraf_ali_thanvi/qp29-25.png",
        "/resources/images/ashraf_ali_thanvi/qp29-26.png",
        "/resources/images/ashraf_ali_thanvi/qp29-27.png",
        "/resources/images/ashraf_ali_thanvi/qp29-28.png",
        "/resources/images/ashraf_ali_thanvi/qp29-29.png",
        "/resources/images/ashraf_ali_thanvi/qp29-30.png",
        "/resources/images/ashraf_ali_thanvi/qp30-01.png",
        "/resources/images/ashraf_ali_thanvi/qp30-02.png",
        "/resources/images/ashraf_ali_thanvi/qp30-03.png",
        "/resources/images/ashraf_ali_thanvi/qp30-04.png",
        "/resources/images/ashraf_ali_thanvi/qp30-05.png",
        "/resources/images/ashraf_ali_thanvi/qp30-06.png",
        "/resources/images/ashraf_ali_thanvi/qp30-07.png",
        "/resources/images/ashraf_ali_thanvi/qp30-08.png",
        "/resources/images/ashraf_ali_thanvi/qp30-09.png",
        "/resources/images/ashraf_ali_thanvi/qp30-10.png",
        "/resources/images/ashraf_ali_thanvi/qp30-11.png",
        "/resources/images/ashraf_ali_thanvi/qp30-12.png",
        "/resources/images/ashraf_ali_thanvi/qp30-13.png",
        "/resources/images/ashraf_ali_thanvi/qp30-14.png",
        "/resources/images/ashraf_ali_thanvi/qp30-15.png",
        "/resources/images/ashraf_ali_thanvi/qp30-16.png",
        "/resources/images/ashraf_ali_thanvi/qp30-17.png",
        "/resources/images/ashraf_ali_thanvi/qp30-18.png",
        "/resources/images/ashraf_ali_thanvi/qp30-19.png",
        "/resources/images/ashraf_ali_thanvi/qp30-20.png",
        "/resources/images/ashraf_ali_thanvi/qp30-21.png",
        "/resources/images/ashraf_ali_thanvi/qp30-22.png",
        "/resources/images/ashraf_ali_thanvi/qp30-23.png",
        "/resources/images/ashraf_ali_thanvi/qp30-24.png",
        "/resources/images/ashraf_ali_thanvi/qp30-25.png",
        "/resources/images/ashraf_ali_thanvi/qp30-26.png",
        "/resources/images/ashraf_ali_thanvi/qp30-27.png",
        "/resources/images/ashraf_ali_thanvi/qp30-28.png",
        "/resources/images/ashraf_ali_thanvi/qp30-29.png",
        "/resources/images/ashraf_ali_thanvi/qp30-30.png",
        "/resources/images/ashraf_ali_thanvi/qp30-31.png",
        "/resources/images/ashraf_ali_thanvi/qp30-32.png",
        "/resources/images/ashraf_ali_thanvi/qp30-33.png",
        ];

        var flipBook = $("#ashraf_ali_thanvi2").flipBook(q_pages, {height: '1200px', cachedPages: 8, scrollWheel: false, duration: 800, backgroundColor: '#eee', direction: DFLIP.DIRECTION.RTL, maxTextureSize: 7680, zoomRatio: 1.2});
    });
</script>